<div class="content">
  <div class="">
    <div class="col-12">
  <div class="breadcrumb-section">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                       <li class="breadcrumb-item"><a [routerLink]="['/foot-patrolling-sections']">FP</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Observations</li>
              </ol>
          </nav>
        </div>
    </div>
      <div class="clear"></div>
          <div class="row-fluid">
              <div class="panel panel-primary">
                  <div class="panel-heading">Observations  Information</div>
                      <div class="panel-body">
                          <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                              <div class="p-24">
                                  <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
                                      <div class="p-12" style="text-align: right;" *ngIf="addPermission">
                                          <span class="mat-raised-button mat-accent" (click)="NewObservationItem()" *ngIf="!addObservation"
                                            color="accent" mat-raised-button="">
                                             Add Observation
                                          </span>
                                      </div>
                              <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" *ngIf="addObservation" fxLayout="column"
                                fxLayoutAlign="start" [formGroup]="observationFormGroup" fxFlex="1 0 auto"
                                (ngSubmit)="observationItemSubmit();">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">{{title}} Observation Item</div>
                                    <div class="panel-body">
                        
                        <div class="col-md-3">
                        <mat-form-field fxFlex="30">
                        <textarea matInput placeholder="location" [formControl]="observationFormGroup.controls['location']"></textarea>
                        
                        </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field fxFlex="30" class="example-full-width">
                            <mat-select placeholder="Select Observation Category" 
                              [formControl]="observationFormGroup.controls['observationCategory']" (selectionChange)="getObsCheckList()" required>
                              <mat-option *ngFor="let observationCategoryData of observationCategoryData"
                                [value]="observationCategoryData.observationCategory">
                                {{ observationCategoryData.observationCategory }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        
                        <div class="col-md-3">
                          <mat-form-field fxFlex="30">
                              <mat-select placeholder="Select Observation Item"
                                  [formControl]="observationFormGroup.controls['observationItem']" required>
                                  <mat-option *ngFor="let observationItem of observationItemData"
                                      [value]="observationItem.observationItem">
                                      {{ observationItem.observationItem}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field fxFlex="30">
                              <mat-select placeholder="Select  Severity"
                                  [formControl]="observationFormGroup.controls['severity']">
                                  <mat-option *ngFor="let observationItem of observationItemData"
                                      [value]="observationItem.severity">
                                      {{ observationItem.severity}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field fxFlex="30">
                              <mat-select placeholder="Select  Priority"
                                  [formControl]="observationFormGroup.controls['priority']">
                                  <mat-option *ngFor="let observationItem of observationItemData"
                                      [value]="observationItem.priority">
                                      {{ observationItem.priority}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          
                          <mat-form-field fxFlex="30">
                          <textarea matInput placeholder="Remarks" [formControl]="observationFormGroup.controls['description']" required></textarea>
                          </mat-form-field>
                          </div>
                          <div class="col-md-3" fxFlex="30">                                                        
                            <mat-checkbox [formControl]="observationFormGroup.controls['actionRequired']">ActionBy</mat-checkbox>                                                          
                          </div>
                          <!-- attachment -->
                          <div class="col-md-3">                                           
                            <input type="file" [formControl]="observationFormGroup.controls['attachment']"
                                 name="uploadFile" 
                            name="uploadFile"  accept="image/*,.pdf,.doc,.docx,.csv,application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/plain, .xlsx, .xls,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                style="margin-top: 6%;"
                                id="uploadFile" multiple (change)="upload($event)" />
                        </div>
                        
                        <div class="clear"> </div>
                                                                        <div class="col-md-12">
                                                                            <table class="table" *ngIf="filesExists">
                                                                                <thead>
                                                                                  <th>Sno</th>
                                                                                  <th>File Name</th>
                                                                                  <th>Size</th>
                                                                                  <th>Action</th>
                                                                                </thead>
                                                                                <tbody id="uploadedFilesTBodyId">
                                                                                    <tr *ngFor="let file of selectedFiles;let i=index">
                                                                                        <td>{{i+1}}</td>
                                                                                        <td><a target="_blank" href="URL.createObjectURL(file.name)">{{file.name}}</a></td>
                                                                                        <td>{{(file.size/1024) | number : '1.2-2'}} KB</td>
                                                                                        <td> <button mat-icon-button matTooltip="Delete" (click)="removeFile(i)">
                                                                                          <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                                                                                      </button>  </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                              </table>
                                                                        </div>
                        <div class="col-md-3 mt-15">
                        <div fxFlex="10" fxLayoutAlign="center center" style="padding-bottom:10px;" class="pr-5 d-inline">
                        <button mat-raised-button color="accent" [disabled]="observationFormGroup.invalid"
                        class="submit-button" aria-label="Submit">
                        {{title}}
                        </button>
                        </div>
                        <div class="p-12 d-inline">
                        <span class="mat-raised-button mat-warn" (click)="onGoBack()" color="warn"
                        mat-raised-button="">
                        Close
                        </span>
                        </div>
                        </div>
                        
                        </div>
                        </div>   
                        
                              </form>    
                          </div>
                          <div class="example-header">
                            <div class="col-sm-4">
                                <mat-form-field>
                                  <input class="filter" matInput (keyup)="observationApplyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="clear"></div>
                        <div class="mat-elevation-z8">
                            <mat-table [dataSource]="filterData.observationDataSource" matSort>
                                <ng-container matColumnDef="sno">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <span>Sl No</span>
                                    <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData">
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.sno}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="location">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <span>Location</span>
                                    <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData">
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.location}}</mat-cell>
                                </ng-container>
                                
                                <ng-container matColumnDef="observationCategory">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <span>Observation Category</span>
                                    <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData">
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.observationCategory}}</mat-cell>
                               </ng-container>
                                <ng-container matColumnDef="observationItem">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <span>Observation Item</span>
                                    <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData">
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.observationItem}}</mat-cell>
                                </ng-container>
                              <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                  <span>Description</span>
                                  <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[4].Value" [filter]="filterData">
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
                         </ng-container>
                         <ng-container matColumnDef="actionRequired">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>
                            <span>Action Required</span>
                            <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[5].Value" [filter]="filterData">
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.actionRequired}}</mat-cell>
                        </ng-container>
                            <ng-container matColumnDef="attachment">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>
                               <span> Documents </span>
                               <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[5].Value" disabled  [filter]="filterData"/>
                               </mat-header-cell>
                               <mat-cell *matCellDef="let row">
                                  <button mat-icon-button matTooltip="View Documents"
                                      (click)="viewFilesDetails(row.id)">
                                      <mat-icon style="color: rgb(0, 145, 234);">visibility</mat-icon>
                                  </button>
                              </mat-cell>
                          </ng-container>
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                          <a mat-icon-button matTooltip="Edit" *ngIf="editPermission"
                                            (click)="editObservationItem(row.id)">
                                            <mat-icon style="color: rgb(0, 145, 234);">edit</mat-icon>
                                          </a>
                                          <button mat-icon-button matTooltip="Delete" *ngIf="deletePermission"
                                            (click)="deleteObservationItem(row.id)">
                                            <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                                          </button>
                                        </mat-cell>
                                </ng-container>                 
                                 <mat-header-row *matHeaderRowDef="observationDisplayColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: observationDisplayColumns;">
                                </mat-row>
                            </mat-table> 
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                        </div>
                        </div>


