<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/failure-analysis']">Failures </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Unusual Occurrence Failure</li>
                    </ol>
                </nav>
            </div>

            <div class="clear"> </div>
            <div class="row-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">UnusualOccurrence Failure Information</div>
                    <div class="panel-body">
                        <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                             <div class="p-24" style="text-align: right" > 
                                <button class="mat-raised-button mat-accent" color="accent" mat-raised-button=""
                                    [routerLink]="['add-unusual-occurrence-failure']"> 
                                    Add Unusual Occurrence Failure
                                </button>
                            </div> 

                            <div class="p-24">

                                <div class="example-header">
                                    <div class="col-sm-4">
                                        <mat-form-field>
                                            <input matInput (keyup)="applyFilter($event.target.value)"
                                                placeholder="Filter">
                                        </mat-form-field>
                                    </div>
                                    <div class="clear"> </div>
                                </div>

                                <div class="example-container mat-elevation-z8">

                                    <mat-table [dataSource]="filterData.dataSource" matSort>

                                        <ng-container matColumnDef="sno">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.S_NO}}</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" disabled [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData"/>
                                            </mat-header-cell>                                            
                                            <mat-cell *matCellDef="let row"> {{row.sno}}</mat-cell>
                                        </ng-container>  



                                        <ng-container matColumnDef="subStation">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.STATION}}</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData"/>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.subStation}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="location">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.LOCATION}}</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData"/>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.location}}</mat-cell>
                                        </ng-container>
                                   
                                        <ng-container matColumnDef="causeOfFailure">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.CAUSE_OF_FAILURE}}</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData"/>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.causeOfFailure}}</mat-cell>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="fromDateTime">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.FROM_DATE_TIME}}</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[4].Value" [filter]="filterData"/>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.fromDateTime}}</mat-cell>
                                        </ng-container>
                                       
                                        <ng-container matColumnDef="thruDateTime">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.THRU_DATE_TIME}}</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[5].Value" [filter]="filterData"/>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.thruDateTime}}</mat-cell>
                                        </ng-container>
                                        
                                        <!-- <ng-container matColumnDef="impact">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.IMPACT}}</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[6].Value" [filter]="filterData"/>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.impact}}</mat-cell>
                                        </ng-container> -->
                                        
                                        <ng-container matColumnDef="duration">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.DURATION}}</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[6].Value" [filter]="filterData"/>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.duration}}</mat-cell>
                                        </ng-container>
                                       

                                        <!-- <ng-container matColumnDef="remarks">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.REMARKS}}</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[8].Value" [filter]="filterData"/>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.remarks}}</mat-cell>
                                        </ng-container> -->
                                                                                
                                        <ng-container matColumnDef="divisionLocal">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.DIVISION_LOCAL}}</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[7].Value" [filter]="filterData"/>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.divisionLocal}}</mat-cell>
                                        </ng-container>
                                      
                                        <ng-container matColumnDef="internalExternal">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.INTERNAL_EXTERNAL}}</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[8].Value" [filter]="filterData"/>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.internalExternal}}</mat-cell>
                                        </ng-container>                               

                                
                                        
                                        <ng-container matColumnDef="actions">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>{{FiledLabels.ACTIONS}}</span>
                                                <input matInput type="text" disabled (keyup) ="updatePagination()" />
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <button mat-icon-button matTooltip="View"
                                                (click)="ViewData(row)">
                                            <mat-icon style="color: rgb(0, 145, 234);">preview</mat-icon>
                                                </button>
                                                <a mat-icon-button matTooltip="Edit" > <!--*ngIf="editPermission"-->
                                                    <button mat-icon-button matTooltip="Edit"
                                                        (click)="processEditAction(row.id)">
                                                        <mat-icon style="color: rgb(0, 145, 234);">edit</mat-icon>
                                                    </button>
                                                </a>
                                                <button mat-icon-button matTooltip="Delete"
                                                    (click)="delete(row.id)"
                                                    > <!--*ngIf="deletePermission"-->
                                                    <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                                                </button>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="failureActions">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span>{{FiledLabels.FAILURE_ACTIONS}}</span>
                                                        <input matInput type="text" disabled (keyup) ="updatePagination()" />
                                                    </mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                  <span class="mat-raised-button mat-accent"  
                                                  (click)="NewAction(row.id)" color="accent" mat-raised-button="">
                                                   Add Actions
                                                </span>                                              
                                              </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="occurenceDisplayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: occurenceDisplayedColumns;">
                                        </mat-row>
                                    </mat-table>
                                   
                                    <mat-paginator [pageSizeOptions]="pagination"></mat-paginator>
                                </div>
                            </div>
                        </div>
                        <div class="clear"> </div>
                        <!-- ACTIONS -->
                        <div class="row-fluid">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Actions Information</div>
                            <div class="panel-body">
                                <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                                    <!-- <div class="p-24" style="text-align: right" > 
                                         <button class="mat-raised-button mat-accent" color="accent" mat-raised-button=""
                                            [routerLink]="['add-actions']"> 
                                            Add Actions
                                        </button></div>  -->
        
                                    <div class="p-24">
        
                                        <div class="example-header">
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput (keyup)="applyFilterActions($event.target.value)"
                                                        placeholder="Filter">
                                                </mat-form-field>
                                            </div>
                                            <div class="clear"> </div>
                                        </div>
        
                                        <div class="example-container mat-elevation-z8">
        
                                            <mat-table [dataSource]="dataSourceActions" matSort>

                                                <ng-container matColumnDef="sno">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sno.</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.sno}}</mat-cell>
                                                </ng-container> 

                                                <ng-container matColumnDef="failureActivity">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>failureActivity</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.failureActivity}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="fromTime">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>fromTime</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.fromTime}}</mat-cell>
                                                </ng-container> 

                                                <ng-container matColumnDef="thruTime">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>thruTime</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.thruTime}}</mat-cell>
                                                </ng-container> 

                                                <ng-container matColumnDef="by">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Staff Name</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.by}}</mat-cell>
                                                </ng-container> 

                                                <ng-container matColumnDef="specialRemarks">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Details</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.specialRemarks}}</mat-cell>
                                                </ng-container> 
                                           
                                                <ng-container matColumnDef="remarks">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.remarks}}</mat-cell>
                                                </ng-container> 
                                               
                                                <ng-container matColumnDef="location">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.location}}</mat-cell>
                                                </ng-container> 
                                               
                                                <ng-container matColumnDef="trainNo">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>TrainNo</mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.trainNo}}</mat-cell>
                                                </ng-container> 
                                                <ng-container matColumnDef="actions">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <a mat-icon-button matTooltip="Edit" > 
                                                            <button mat-icon-button matTooltip="Edit"
                                                                (click)="processEditActions(row.id)">
                                                                <mat-icon style="color: rgb(0, 145, 234);">edit</mat-icon>
                                                            </button>
                                                        </a>
                                                        <button mat-icon-button matTooltip="Delete"
                                                            (click)="deleteActions(row.id)"
                                                            > 
                                                            <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>
                                                <mat-header-row *matHeaderRowDef="displayedColumnsActions"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumnsActions;">
                                                </mat-row>
                                            </mat-table>
                                           
                                            <mat-paginator #paginatorActions [pageSizeOptions]="actionsPagination"></mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                        <!-- ACTIONS -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>