.mat-column-sno {
    flex: 0 0 80px;
  }
  .mat-column-subStation {
    flex: 0 0 80px;
  }
  .mat-column-current {
    flex: 0 0 40px;
  }
  .mat-column-voltage {
    flex: 0 0 40px;
  }
  .mat-column-actions {
    flex: 0 0 150px;
  }
 