<div class="content">
  <div class="">
    <div class="col-12">
  <div class="breadcrumb-section">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                       <li class="breadcrumb-item"><a [routerLink]="['/foot-patrolling-sections']">FP Section</a></li> 
                        <li class="breadcrumb-item active" aria-current="page">Obs Categories</li>
              </ol>
          </nav>
        </div>
    </div>
      <div class="clear"></div>
          <div class="row-fluid">
              <div class="panel panel-primary">
                  <div class="panel-heading">Observation Categories  Information</div>
                  <div class="panel-body">
                          <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                              <div class="p-24">
                                  <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
                                      <div class="p-12" style="text-align: right;" *ngIf="addPermission">
                                          <span class="mat-raised-button mat-accent" (click)="NewObservationCategories()" *ngIf="!addObservationCategories"
                                            color="accent" mat-raised-button="">
                                             Add Observation Categories
                                          </span>
                                      </div>
                                      <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" *ngIf="addObservationCategories" fxLayout="column"
                                              fxLayoutAlign="start" [formGroup]="observationCategoriesFormGroup" fxFlex="1 0 auto"
                                              (ngSubmit)="observationCategoriesSubmit();">
                                              <div class="panel panel-primary">
                                                  <div class="panel-heading">{{title}} {{Titles.OBSERVATION_CATEGORY}}</div>
                                                  <div class="panel-body">
                          <div class="col-md-3">
                            <mat-form-field fxFlex="30" class="example-full-width">
                              <mat-select placeholder="{{FiledLabels.INSPECTION_TYPE}}" 
                                [formControl]="observationCategoriesFormGroup.controls['inspectionType']" required>
                                <mat-option *ngFor="let inspectionTypeData of inspectionTypeData"
                                  [value]="inspectionTypeData.inspectionType">
                                  {{ inspectionTypeData.inspectionType }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field fxFlex="30">
                              <textarea matInput placeholder="{{FiledLabels.REQUEST_DEPARTMENT}}" [formControl]="observationCategoriesFormGroup.controls['department']" required></textarea>
                              <mat-error
                              *ngIf="observationCategoriesFormGroup.controls['department'].hasError('maxlength') && observationCategoriesFormGroup.controls['department'].touched"
                              class="alert alert-danger">Max 250 characters only
                          </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field fxFlex="30">
                              <textarea matInput placeholder="{{FiledLabels.OBSERVATION_CATEGORY}}" [formControl]="observationCategoriesFormGroup.controls['observationCategory']" required></textarea>
                              <mat-error
                              *ngIf="observationCategoriesFormGroup.controls['observationCategory'].hasError('maxlength') && observationCategoriesFormGroup.controls['observationCategory'].touched"
                              class="alert alert-danger">Max 250 Characters only
                          </mat-error>
                          <mat-error
                                  *ngIf="observationCategoriesFormGroup.controls['observationCategory'].hasError('duplicateObservationCategory')"
                                     class="alert alert-danger">
                                     Inspection Type and Observation Category combination already exists
                            </mat-error>
                            <mat-error
                                  *ngIf="observationCategoriesFormGroup.controls['observationCategory'].hasError('duplicateObservationCategoryAndId')"
                                     class="alert alert-danger">
                                     Inspection Type and Observation Category combination already exists
                            </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field fxFlex="30">
                              <textarea matInput placeholder="{{FiledLabels.DESCRIPTION}}" [formControl]="observationCategoriesFormGroup.controls['description']" ></textarea>
                              <mat-error
                              *ngIf="observationCategoriesFormGroup.controls['description'].hasError('maxlength') && observationCategoriesFormGroup.controls['description'].touched"
                              class="alert alert-danger">Max 250 characters only
                          </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field fxFlex="30">
                              <textarea matInput placeholder="{{FiledLabels.REMARKS}}" [formControl]="observationCategoriesFormGroup.controls['remark']" ></textarea>
                              <mat-error
                              *ngIf="observationCategoriesFormGroup.controls['remark'].hasError('maxlength') && observationCategoriesFormGroup.controls['remark'].touched"
                              class="alert alert-danger">Max 250 characters only
                          </mat-error>
                            </mat-form-field>
                          </div>
                      
                        <div class="col-md-3">
                          <mat-form-field>
                              <input matInput [matDatepicker]="picker1" (dateInput)="addEvent('input', $event)"
                                  placeholder="{{FiledLabels.FROM_DATE}}"
                                  [formControl]="observationCategoriesFormGroup.controls['fromDate']" required>
                              <mat-datepicker-toggle matSuffix [for]="picker1">
                              </mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                      </div>

                     
                      <div class="col-md-3">
                          <mat-form-field>
                              <input matInput [matDatepicker]="picker"
                                  placeholder="{{FiledLabels.TO_DATE}}" [min]="toMinDate"
                                  [formControl]="observationCategoriesFormGroup.controls['thruDate']" required>
                              <mat-datepicker-toggle matSuffix [for]="picker">
                              </mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                      </div>
                          
                          <div class="col-md-3 mt-15">
                            <div fxFlex="10" fxLayoutAlign="center center" style="padding-bottom:10px;" class="pr-5 d-inline">
                              <button mat-raised-button color="accent" [disabled]="observationCategoriesFormGroup.invalid"
                                class="submit-button" aria-label="Submit">
                                {{title}}
                              </button>
                            </div>
                            <div class="p-12 d-inline">
                              <span class="mat-raised-button mat-warn" (click)="onGoBack()" color="warn"
                                mat-raised-button="">
                                Back
                              </span>
                              </div>
                          </div>
                          
                          </div>
                        </div>
                  </form>
                </div>
                <div class="example-header">
                                      <div class="col-sm-4">
                                          <mat-form-field>
                                            <input class="filter" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="clear"></div>
                                  <div class="mat-elevation-z8">
                                      <mat-table [dataSource]="observationCategoriesItemDataSource" matSort>
                                          <ng-container matColumnDef="sno">
                                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.S_NO}}</mat-header-cell>
                                              <mat-cell *matCellDef="let row"> {{row.sno}}</mat-cell>
                                          </ng-container>
                                          <ng-container matColumnDef="inspectionType">
                                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.INSPECTION_TYPE}}</mat-header-cell>
                                              <mat-cell *matCellDef="let row" style="cursor: pointer">
                                                {{row.inspectionType}}</mat-cell>
                                          </ng-container>
                                          
                                          <ng-container matColumnDef="department">
                                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.REQUEST_DEPARTMENT}}</mat-header-cell>
                                              <mat-cell *matCellDef="let row" style="cursor: pointer">
                                                {{row.department}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="observationCategory">
                                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.OBSERVATION_CATEGORY}}</mat-header-cell>
                                              <mat-cell *matCellDef="let row" style="cursor: pointer">
                                                {{row.observationCategory}}</mat-cell>
                                          </ng-container>
                                          <ng-container matColumnDef="description">
                                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.DESCRIPTION}}</mat-header-cell>
                                              <mat-cell *matCellDef="let row" style="cursor: pointer">
                                                {{row.description}}</mat-cell>
                                          </ng-container>
                                          <ng-container matColumnDef="remark">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.REMARKS}}</mat-header-cell>
                                            <mat-cell *matCellDef="let row" style="cursor: pointer">
                                              {{row.remark}} </mat-cell>
                                        </ng-container>
                    <ng-container matColumnDef="fromDate">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.FROM_DATE}}</mat-header-cell>
                      <mat-cell *matCellDef="let row" style="cursor: pointer">
                        {{row.fromDate}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="thruDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.TO_DATE}}</mat-header-cell>
                    <mat-cell *matCellDef="let row" style="cursor: pointer">
                      {{row.thruDate}}</mat-cell>
                </ng-container>
                                                                                  
                                          <ng-container matColumnDef="id">
                                              <mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.ACTIONS}}</mat-header-cell>
                                                  <mat-cell *matCellDef="let row">
                                                    <button mat-icon-button matTooltip="View"
                                                       (click)="ViewData(row)">
                                                    <mat-icon style="color: rgb(0, 145, 234);">preview</mat-icon>
                                                    </button>
                                                    <a mat-icon-button matTooltip="Edit" *ngIf="editPermission"
                                                      (click)="editObservationCategories(row.id)">
                                                      <mat-icon style="color: rgb(0, 145, 234);">edit</mat-icon>
                                                    </a>
                                                    <button mat-icon-button matTooltip="Delete" *ngIf="deletePermission"
                                                      (click)="deleteObservationCategories(row.id)">
                                                      <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                                                    </button>
                                                  </mat-cell>
                                          </ng-container>
                                          <mat-header-row *matHeaderRowDef="observationCategoriesDisplayColumns"></mat-header-row>
                                          <mat-row *matRowDef="let row; columns: observationCategoriesDisplayColumns;">
                                          </mat-row>
                                      </mat-table>
                                      <mat-paginator [pageSizeOptions]="pagination"></mat-paginator>
                                  </div>
                              </div>
                          </div>
                  </div>
              </div>
          </div>
  </div>
</div>      

              
            
    
                
              