.mat-column-activityCode {
    max-width: 350px;
}
.mat-column-description {
    max-width: 350px;
}
.mat-column-valueObservation {
    max-width: 200px;
}
.mat-column-type {
    max-width: 100px;
}
.mat-column-units {
    max-width: 80px;
}
.mat-column-lowerLimit {
    max-width: 100px;
}
.mat-column-upperLimit {
    max-width: 100px;
}
.mat-column-count {
    max-width: 50px;
}
.mat-column-actions {
    max-width: 120px;
}