<ng4-loading-spinner> </ng4-loading-spinner>
<div class="clearfix"> </div>
<div class="content">
	<div class="">
		<div class="col-12">
			<div class="breadcrumb-section">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Project Activity Inspection</li>
                    </ol>
				</nav>
			</div>
			<div class="clear"> </div>
            <div class="row-fluid">
            	<div class="panel panel-primary">
            		 <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                        <div class="panel panel-primary">
		            		<div class="panel-heading">Activity Inspection</div>
		            			<div class="panel-body">
		            			 	<div class="p-24">
			            				<div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
											<div class="col-md-12" *ngIf="wpaDailyProgressData" >
												<div class="alert alert-info" role="alert">
												<strong><b>Project:</b></strong>{{wpaDailyProgressData.workPhaseActivityId.workPhaseId.workId.workName}}
												<strong><b>Phase:</b></strong>{{wpaDailyProgressData.workPhaseActivityId.workPhaseId.phaseName}}
												<strong><b>Activity:</b></strong>{{wpaDailyProgressData.workPhaseActivityId.name}}
												<strong><b>Section:</b></strong>{{wpaDailyProgressData.workGroupId.section}}
												<strong><b>Test Inspection:</b></strong>{{wpaDailyProgressData.workPhaseActivityId.testInspectionId.name}}
												</div>
											</div>
											<form  fxLayout="column"
			                                            fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
			                                            [formGroup]="prjActivityIns"
			                                            (ngSubmit)="projectActivityInsSubmit();">
			                                	<hr size="8" width="100%" color="balck">
			                                            <p style="color:green">MEASURES</p>
			                                            {{measureExists}}
			                                            <div class="col-md-12" >
			                                            	<div fxLayout="row" fxLayoutGap="25px"
			                                                    *ngFor="let measure of measureList; let i = index">
			                                                    <div class="col-md-3">
			                                                        <mat-form-field fxFlex="25">
			                                                            <input matInput placeholder="{{measure.measureActivityCode}}" 
			                                                                 name="measure.measureActivityCode-i" (change)="changeMeasure(i,$event.target.value)" decimalNumber>
			
			                                                        </mat-form-field>
			                                                    </div>
			                                                    <div ng-message='required' style="color:red">Required Range[ {{measure.seqId}} - {{measure.seqId}} ]</div>
			                                                    <div class="clear"> </div>
			                                                </div>
			                                            </div>
			                                            <hr size="8" width="100%" color="balck">
			                                            <p style="color:green">ACTIVITY</p>
			                                            <hr size="8" width="100%" color="balck">
			                                            <div class="col-md-8">
			                                                <div fxLayout="row" fxLayoutGap="25px"
			                                                    *ngFor="let activity of activityList; let i = index"> 
			                                                         <mat-form-field fxFlex="30" >
			                                                            <!-- <div class="col-md-2">
			                                                                <mat-checkbox  class="example-margin"
			                                                                    labelPosition="before">
			                                                                    <label>{{activity.measureActivityCode}}</label>
			                                                                </mat-checkbox>
			                                                            </div> -->
			                                                            <div class="col-md-4">
			                                                                    <input matInput placeholder="{{activity.measureActivityCode}}" 
			                                                                    name="activity.measureActivityCode" (change)="changeActivity(i,$event.target.value)" >
			                                                             </div> 
			                                                        </mat-form-field>
			                                                </div>
			                                            </div>
			                                            <hr size="6" width="100%" color="balck">
			                                            <div class="col-md-3 mt-15">
			                                                <div class="float-right" style="float: right;">
			                                                    <button class="mat-raised-button mat-accent" color="accent"
			                                                        class="d-inline" mat-raised-button="" type="submit" >
			                                                        {{title}}
			                                                    </button>&nbsp;&nbsp;
			                                                    <!-- <span class="mat-raised-button mat-accent d-inline"
			                                                        (click)="onGoBack()" color="warn" mat-raised-button="">
			                                                        Back
			                                                    </span> -->
			                                                </div>
			                                            </div>
			                                </form>            
			            				</div>
		            				</div>
		            			</div>	
		            	</div>
            		</div>
            	</div>	
            </div>
		</div>
	</div>	
</div>