<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">SCH Maintenance Graphs</li>
                    </ol>
                </nav>
            </div>
            <div class="clear"> </div>
         </div>
     </div>
</div>        