<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="breadcrumb-section">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/contentManagement']">DOCS </a></li>
            <li class="breadcrumb-item active" aria-current="page">Content Management</li>
          </ol>
        </nav>
      </div>
      <div class="clear"></div>
      <div class="row-fluid" >
      
      	<div class="panel panel-primary">
            <div class="panel-heading">Charts</div>
            	<div class="panel-body">
            		<div class="col-12">
            			<div class="col-md-6 col-lg-6" *ngIf="showTowerCarChart">
            				<fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" 
			                      [dataSource]="towerCarDataSource"></fusioncharts>
            			</div>
            		</div>
            	</div>
      </div>

<!-- 
        Current Date Tracking Info Graphs
        <div class="panel panel-primary">
          <div class="panel-heading">Tracking Info Graphs</div>
          <div class="panel-body">
            <div class="col-12">
            <div class="col-md-6 col-lg-6">
              <div class="panel panel-primary">
                <div class="panel-heading">Jobs Wise</div>
                <div class="panel-body">
                  <fusioncharts [width]="width" [height]="height" type="scrollstackedcolumn2d" [dataFormat]="dataFormat"
                    [dataSource]="lastProcessedJobsDataSource"
                    (dataplotRollOver)="findLastProcessedOperationTypeDataSource($event)">
                  </fusioncharts>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="panel panel-primary">
                <div class="panel-heading">Operation Types Wise</div>
                <div class="panel-body">
                  <fusioncharts [width]="width" [height]="height" [type]="multiBarType" [dataFormat]="dataFormat"
                    [dataSource]="lastProcessedOperationTypeDataSource">
                  </fusioncharts>
                </div>
              </div>
            </div>
            </div>
            <div class="col-12">
            Last One Week Division Wise Info Graphs
            <div class="col-md-12 col-lg-12">
              <div class="panel panel-primary">
                <div class="panel-heading">Last One Week Division Wise Tracking Info Graphs</div>
                <div class="panel-body">
                  <div class="col-md-12">
                    <fusioncharts [width]="widthone" [height]="heightone" [type]="type" [dataFormat]="dataFormat"
                      class="division-week-chat" [dataSource]="lastOneWeekDivisionsDataSourceObj">
                    </fusioncharts>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>


        </div> -->
      </div>
    </div>
  </div>
</div>