.mat-column-sno {
    max-width: 80px;
}
.mat-column-description {
    max-width: 500px;
}
.mat-column-fixed {
    max-width: 150px;
}
.mat-column-c-clamp {
    max-width: 150px;
}
.mat-column-ambientTemp {
    max-width: 120px;
}
.mat-column-criticality {
    max-width: 120px;
}
.mat-column-remark {
    max-width: 170px;
}
.mat-column-fixedDiff {
    max-width: 100px;
}
.mat-column-CClampDiff {
    max-width: 100px;
}
.highlight {
    background-color: red;
}