.mat-column-sno {
    max-width: 70px;
}
.mat-column-point1description {
    max-width: 320px;
}
.mat-column-measure1 {
    max-width: 70px;
}
.mat-column-point2description {
    max-width: 320px;
}
.mat-column-measure2 {
    max-width: 70px;
}
.mat-column-tempDiff {
    max-width: 30px;
}
/*
.mat-column-criticality {
    max-width: 80px;
}*/
.mat-column-remark {
    max-width: 100px;
}
.mat-column-previous1 {
    max-width: 160px;
}
.mat-column-previous2 {
    max-width: 160px;
}
.mat-column-previous3 {
    max-width: 160px;
}

.highlight {
    background-color: red;
}