<ng4-loading-spinner> </ng4-loading-spinner>

<div class="content">
    <div class="">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/electrification-targets']">Electrification Targets </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Elementary Sections</li>
                    </ol>
                </nav>
            </div>

            <div class="clear"> </div>
            <div class="row-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">Elementary Sections  Information</div>
                    <div class="panel-body">
                        <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{title}} {{Titles.ELEMENTARY_SECTIONS_FORM}}</div>
                                <div class="panel-body">
                                    <div class="p-24">
                                        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
                                            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"
                                                fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                                                [formGroup]="addElementarySectionFormGroup" (ngSubmit)="ElementarySectionFormFormSubmit();">

                                                <div class="col-md-12">

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                          <input matInput placeholder="{{FiledLabels.ELEMENTARY_SECTION_CODE}}"
                                                            [formControl]="addElementarySectionFormGroup.controls['elementarySectionCode']" required/>
                                                            <mat-error
                                                            *ngIf="addElementarySectionFormGroup.controls['elementarySectionCode'].hasError('duplicateElementarySectionCode')"
                                                            class="alert alert-danger">Elementary SectionCode Already Exist</mat-error>
                                                            <mat-error
                                                             *ngIf="addElementarySectionFormGroup.controls['elementarySectionCode'].hasError('duplicateElementarySectionCodeByID')"
                                                            class="alert alert-danger">Elementary SectionCode Already Exist</mat-error>
                                                        </mat-form-field>
                                                      </div>

                                                    <div class="col-md-3" >
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                          <mat-select placeholder="{{FiledLabels.DEPOT}}" 
                                                            [formControl]="addElementarySectionFormGroup.controls['facilityId']" required>
                                                            <mat-option *ngFor="let depotData of facilityData"
                                                              [value]="depotData.facilityId">
                                                              {{ depotData.facilityName }}
                                                            </mat-option>
                                                          </mat-select>
                                                          <mat-error
                                                            *ngIf="addElementarySectionFormGroup.controls['facilityId'].hasError('required') && addElementarySectionFormGroup.controls['facilityId'].touched"
                                                            class="alert alert-danger">Select Depot</mat-error>
                                                        </mat-form-field>
                                                      </div>

                                                      <div class="col-md-3" >
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                          <mat-select placeholder="{{FiledLabels.STATION_CODE}}" 
                                                            [formControl]
                                                            ="addElementarySectionFormGroup.controls['stationCode']">
                                                            <mat-option *ngFor="let statSectData of statSectData"
                                                              [value]="statSectData.stationCode">
                                                              {{ statSectData.stationCode }}
                                                            </mat-option>
                                                          </mat-select>
                                                        </mat-form-field>
                                                      </div>

                                                      <div class="col-md-3" >
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                          <mat-select placeholder="{{FiledLabels.LINE}}" 
                                                            [formControl]="addElementarySectionFormGroup.controls['trackCode']">
                                                            <mat-option *ngFor="let lineCode of lineCode"
                                                              [value]="lineCode.lineCode">
                                                              {{ lineCode.lineCode }}
                                                            </mat-option>
                                                          </mat-select>
                                                        </mat-form-field>
                                                      </div>

                                                      <div class="col-md-3" >
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                          <mat-select placeholder="{{FiledLabels.SIDING}}"
                                                            [formControl]="addElementarySectionFormGroup.controls['sidingMain']">
                                                            <mat-option *ngFor="let lineDetails of lineDetails"
                                                              [value]="lineDetails">
                                                              {{ lineDetails }}
                                                            </mat-option>
                                                          </mat-select>
                                                        </mat-form-field>
                                                      </div>


                                                      

                                                      <div class="col-md-3" >
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                          <mat-select placeholder="{{FiledLabels.SECTION_CODE}}" 
                                                            [formControl]="addElementarySectionFormGroup.controls['sectionCode']">
                                                            <mat-option *ngFor="let statSectData of statSectData"
                                                              [value]="statSectData.upSectionName">
                                                              {{ statSectData.upSectionName }}
                                                            </mat-option>
                                                          </mat-select>
                                                        </mat-form-field>
                                                      </div>

                                                      <div class="col-md-3" >
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                          <mat-select placeholder="{{FiledLabels.SECTOR_CODE}}" 
                                                            [formControl]="addElementarySectionFormGroup.controls['sectorCode']" required>
                                                            <mat-option *ngFor="let sectorData of sectorData"
                                                              [value]="sectorData.sectorCode">
                                                              {{ sectorData.sectorCode }}
                                                            </mat-option>
                                                          </mat-select>
                                                          <mat-error
                                                            *ngIf="addElementarySectionFormGroup.controls['sectorCode'].hasError('required') && addElementarySectionFormGroup.controls['sectorCode'].touched"
                                                            class="alert alert-danger">Select Sector</mat-error>
                                                        </mat-form-field>
                                                      </div>

                                                      <div class="col-md-3" >
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                          <mat-select placeholder="{{FiledLabels.SUB_SECTOR_CODE}}" 
                                                            [formControl]="addElementarySectionFormGroup.controls['subSectorCode']" required>
                                                            <mat-option *ngFor="let subSectorData of subSectorData"
                                                              [value]="subSectorData.subSectorCode">
                                                              {{ subSectorData.subSectorCode }}
                                                            </mat-option>
                                                          </mat-select>
                                                          <mat-error
                                                            *ngIf="addElementarySectionFormGroup.controls['subSectorCode'].hasError('required') && addElementarySectionFormGroup.controls['subSectorCode'].touched"
                                                            class="alert alert-danger">Select Sub Sector</mat-error>
                                                        </mat-form-field>
                                                      </div>
                                                      
                                                      <div class="col-md-3">From Km
                                                        <mat-form-field >
                                                          <input matInput 
                                                            [formControl]="addElementarySectionFormGroup.controls['fromKm']"/>
                                                        </mat-form-field>
                                                        <mat-form-field >From Seq:
                                                            <input matInput 
                                                              [formControl]="addElementarySectionFormGroup.controls['fromSeq']"/>
                                                          </mat-form-field>
                                                      </div>

                                                      <div class="col-md-3">To Km:
                                                        <mat-form-field >
                                                          <input matInput 
                                                            [formControl]="addElementarySectionFormGroup.controls['toKm']"/>
                                                        </mat-form-field>
                                                        <mat-form-field >To Seq:
                                                            <input matInput 
                                                              [formControl]="addElementarySectionFormGroup.controls['toSeq']"/>
                                                          </mat-form-field>
                                                      </div>

                                                      
                                                      <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                          <input matInput placeholder="{{FiledLabels.DIVISION}}"
                                                            [formControl]="addElementarySectionFormGroup.controls['devisionId']"/>
                                                        </mat-form-field>
                                                      </div>
                                                      <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                          <input matInput placeholder="{{FiledLabels.PROTECTION_CROSSOVER}}"
                                                            [formControl]="addElementarySectionFormGroup.controls['protectionCrossover']"/>
                                                        </mat-form-field>
                                                      </div>
                                                      <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                          <input matInput placeholder="{{FiledLabels.PROTECTION_TURNOUT}}"
                                                            [formControl]="addElementarySectionFormGroup.controls['protectionTurnout']" />
                                                        </mat-form-field>
                                                      </div>

                                                      <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <textarea matInput placeholder="{{FiledLabels.REMARKS_SHUNTING}}"
                                                                [formControl]="addElementarySectionFormGroup.controls['remarksShunting']"
                                                                required 
                                                                pattern="^[a-zA-Z0-9,\s._-]+(\s[a-zA-Z0-9,._-]+)?$"> </textarea>
                                                            <mat-error
                                                                *ngIf="addElementarySectionFormGroup.controls['remarksShunting'].hasError('pattern') && addElementarySectionFormGroup.controls['remarksShunting'].touched"
                                                                class="alert alert-danger">Special characters are not allowed
                                                            </mat-error>
                                                            <mat-error
                                                                *ngIf="addElementarySectionFormGroup.controls['remarksShunting'].hasError('maxlength') && addElementarySectionFormGroup.controls['remarksShunting'].touched"
                                                                class="alert alert-danger">Max 250 characters only
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <textarea matInput placeholder="{{FiledLabels.REMARKS_NO}}"
                                                                [formControl]="addElementarySectionFormGroup.controls['remarksNo']"
                                                                required 
                                                                pattern="^[a-zA-Z0-9,\s._-]+(\s[a-zA-Z0-9,._-]+)?$"> </textarea>
                                                            <mat-error
                                                                *ngIf="addElementarySectionFormGroup.controls['remarksNo'].hasError('pattern') && addElementarySectionFormGroup.controls['remarksNo'].touched"
                                                                class="alert alert-danger">Special characters are not allowed
                                                            </mat-error>
                                                            <mat-error
                                                                *ngIf="addElementarySectionFormGroup.controls['remarksNo'].hasError('maxlength') && addElementarySectionFormGroup.controls['remarksNo'].touched"
                                                                class="alert alert-danger">Max 250 characters only
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                      <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                          <input matInput placeholder="{{FiledLabels.AUTO_DEAD}}"
                                                            [formControl]="addElementarySectionFormGroup.controls['isAutoDead']" />
                                                        </mat-form-field>
                                                      </div>
                                                      
 
                                                </div>

                                                <div class="clearfix"></div>
                                                <div class="col-md-3 mt-15">
                                                  <div class="float-right" style="float: right;">
                                                    <button class="mat-raised-button mat-accent" color="accent"
                                                        class="d-inline" mat-raised-button="" type="submit"
                                                        [disabled]="addElementarySectionFormGroup.invalid" *ngIf="save">
                                                       {{title}}
                                                    </button>
                                                    <button class="mat-raised-button mat-accent  d-inline"
                                                        color="accent" type="submit" [disabled]="addElementarySectionFormGroup.invalid"
                                                        mat-raised-button="" *ngIf="update">
                                                        {{title}}
                                                    </button>&nbsp;&nbsp;
                                                    <span class="mat-raised-button mat-accent d-inline"
                                                        (click)="onGoBack()" color="warn" mat-raised-button="">
                                                        Back
                                                    </span>
                                                </div>
                                                </div>


                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>

    