<ng4-loading-spinner> </ng4-loading-spinner>

<div class="content">
    <div class="">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/drives']">Drives </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Stipulation</li>
                    </ol>
                </nav>
            </div>
            

            <div class="clear"> </div>
            <div class="row-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">Stipulation Information</div>
                    <div class="panel-body">
                        <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{title}} {{Titles.STIPULATION_FORM}}</div>
                                <div class="panel-body">
                                    <div class="p-24">
                                        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

                                            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"
                                                fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                                                [formGroup]="addDriveStipulationFormGroup" (ngSubmit)="onAddStipulationFormSubmit();">

                                                <div class="col-md-12">
                                                
                                                	<!-- inspectionId -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <!-- <input matInput placeholder="Inspection Id"
                                                                [formControl]="addDriveStipulationFormGroup.controls['inspectionId']"
                                                                required> -->
                                                            <mat-select placeholder="{{FiledLabels.INSPECTION}}" 
                                                                [formControl]="addDriveStipulationFormGroup.controls['inspectionId']" > 
                                                                <mat-option *ngFor="let crsEigInspection of crsEigInspections"
                                                                    [value]="crsEigInspection.id">
                                                                    {{ crsEigInspection.inspectionType}} - {{ crsEigInspection.dateOfInspection}} - {{crsEigInspection.sectionStartLocation}}
                                                                </mat-option>
                                                            </mat-select>    
                                                            <mat-error
                                                                *ngIf="addDriveStipulationFormGroup.controls['inspectionId'].hasError('required') && addDriveStipulationFormGroup.controls['inspectionId'].touched"
                                                                class="alert alert-danger">Choose Inspection</mat-error>
                                                            <mat-error
                                                                *ngIf="addDriveStipulationFormGroup.controls['inspectionId'].hasError('pattern') && addDriveStipulationFormGroup.controls['inspectionId'].touched"
                                                                class="alert alert-danger">Only alphabets allowed
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- dateOfStipulation -->

                                                    <div class="col-md-3">
                                                        <mat-form-field>
                                                            <input matInput [matDatepicker]="picker1"
                                                                placeholder="{{FiledLabels.DATE_OF_STIPULATION}}"
                                                                (dateChange)="addEvent($event)" [max]="maxDate"
                                                                [formControl]="addDriveStipulationFormGroup.controls['dateOfStipulation']" >
                                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker1></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>




                                                    <!-- dateOfStipulation 
                                                    <div class="col-md-3">
                                                        <mat-form-field>
                                                            <input matInput [owlDateTime]="dt1" style="width: 94%;"
                                                                [owlDateTimeTrigger]="dt1" placeholder="Choose Date Of Stipulation"
                                                                (dateTimeChange)="addEvent($event)" 
                                                                [formControl]="addDriveStipulationFormGroup.controls['dateOfStipulation']" >                                                                
                                                                <owl-date-time #dt1 [showSecondsTimer]=true
                                                                    ></owl-date-time>
                                                                <span [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span>
                                                        </mat-form-field>
                                                    </div> -->

                                                     <!-- dateComplied -->

                                                     <div class="col-md-3">
                                                        <mat-form-field>
                                                            <input matInput [matDatepicker]="picker2"
                                                                placeholder="{{FiledLabels.COMPLIED_DATE}}"
                                                                [min]="minDateComplied" [max]="maxDate"
                                                                [formControl]="addDriveStipulationFormGroup.controls['dateComplied']" >
                                                            <mat-datepicker-toggle matSuffix [for]="picker2">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker2></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- dateComplied 
                                                     <div class="col-md-3">
                                                        <mat-form-field>
                                                            <input matInput [owlDateTime]="dt2" style="width: 94%;" [min]="minDateComplied"
                                                                [owlDateTimeTrigger]="dt2" placeholder="Choose Date Complied"
                                                                [formControl]="addDriveStipulationFormGroup.controls['dateComplied']" >                                                                
                                                                <owl-date-time #dt2 [showSecondsTimer]=true
                                                                    ></owl-date-time>
                                                                <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
                                                        </mat-form-field>
                                                    </div> -->
                                                    
                                                     <!-- stipulation -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                        	<textarea matInput placeholder="{{FiledLabels.STIPULATION}}" [formControl]="addDriveStipulationFormGroup.controls['stipulation']" required pattern="^[a-zA-Z,\s._-]+(\s[a-zA-Z,._-]+)?$" ></textarea>
                                                            <!-- <input matInput placeholder="Stipulation" 
                                                                [formControl]="addDriveStipulationFormGroup.controls['stipulation']"
                                                                required pattern="^[a-zA-Z,._-]+(\s[a-zA-Z,._-]+)?$"> -->
                                                            <mat-error
                                                                *ngIf="addDriveStipulationFormGroup.controls['stipulation'].hasError('required') && addDriveStipulationFormGroup.controls['stipulation'].touched"
                                                                class="alert alert-danger">Enter Stipulation</mat-error>
                                                            
                                                            <mat-error
                                                                *ngIf="addDriveStipulationFormGroup.controls['stipulation'].hasError('pattern') && addDriveStipulationFormGroup.controls['stipulation'].touched"
                                                                class="alert alert-danger">Special characters are not allowed
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                     <!-- compliance -->
                                                     <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                        	<textarea matInput placeholder="{{FiledLabels.COMPLIANCE}}" [formControl]="addDriveStipulationFormGroup.controls['compliance']" pattern="^[a-zA-Z,\s._-]+(\s[a-zA-Z,._-]+)?$" ></textarea>
                                                            <!-- <input matInput placeholder="Compliance" 
                                                                [formControl]="addDriveStipulationFormGroup.controls['compliance']"
                                                                pattern="^[a-zA-Z,\s._-]+(\s[a-zA-Z,._-]+)?$" > -->
                                                                <mat-error
                                                                *ngIf="addDriveStipulationFormGroup.controls['compliance'].hasError('pattern') && addDriveStipulationFormGroup.controls['stipulation'].touched"
                                                                class="alert alert-danger">Special characters are not allowed
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    
                                                    <!-- compliedBy -->
                                                     <!-- size="12"maxlength="12" -->
                                                     <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="{{FiledLabels.COMPLIED_BY}}" 
                                                            
                                                                [formControl]="addDriveStipulationFormGroup.controls['compliedBy']"
                                                                >
                                                                <mat-error
                                                                *ngIf="addDriveStipulationFormGroup.controls['compliedBy'].hasError('maxlength') && addDriveStipulationFormGroup.controls['compliedBy'].touched"
                                                                class="alert alert-danger">Max 250 characters only
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    

                                                     <!-- attachment -->
                                                     <div class="col-md-3">
                                                    
                                                        <input type="file" [formControl]="addDriveStipulationFormGroup.controls['attachment']"
                                                             name="uploadFile"  accept="image/*,.pdf,.doc,.docx,.csv,application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/plain, .xlsx, .xls,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                                            style="margin-top: 6%;"
                                                            id="uploadFile" multiple (change)="upload($event)" />
                                                    </div>

                                                <div class="clear"> </div>
                                                <div class="col-md-12">
                                                    <table class="table" *ngIf="filesExists">
                                                        <thead>
                                                          <th>Sno</th>
                                                          <th>File Name</th>
                                                          <th>Size</th>
                                                          <th>Action</th>
                                                        </thead>
                                                        <tbody id="uploadedFilesTBodyId">
                                                            <tr *ngFor="let file of selectedFiles;let i=index">
                                                                <td>{{i+1}}</td>
                                                                <td><a target="_blank" href="URL.createObjectURL(file.name)">{{file.name}}</a></td>
                                                                <td>{{(file.size/1024) | number : '1.2-2'}} KB</td>
                                                                <td> <button mat-icon-button matTooltip="Delete" (click)="removeFile(i)">
                                                                  <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                                                              </button>  </td>
                                                            </tr>
                                                        </tbody>
                                                      </table>
                                                </div>
                                                <div class="col-md-3 mt-15">
                                                    <div class="float-right" style="float: right;">
                                                        <button class="mat-raised-button mat-accent" color="accent"
                                                            class="d-inline" mat-raised-button="" type="submit"
                                                            [disabled]="addDriveStipulationFormGroup.invalid" *ngIf="save">
                                                           {{title}}
                                                        </button>
                                                        <button class="mat-raised-button mat-accent  d-inline"
                                                            color="accent"
                                                            mat-raised-button="" *ngIf="update">
                                                            {{title}}
                                                        </button>&nbsp;&nbsp;
                                                        <span class="mat-raised-button mat-accent d-inline"
                                                            (click)="onGoBack()" color="warn" mat-raised-button="">
                                                            Back
                                                        </span>
                                                    </div>
                                                </div>
                                                </div>
                                            </form>
                                            <div class="clear"> </div>
                                            <div class="col-md-12">
                                                <table class="table" *ngIf="update">
                                                    <thead>
                                                      <th>Sno</th>
                                                      <th>File Name</th>
                                                      <th>Size</th>
                                                      <th>Action</th>
                                                    </thead>
                                                    <tbody id="uploadedFilesTBodyId">
                                                        <tr *ngFor="let file of attachedImages;let i=index">
                                                            <td>{{i+1}}</td>
                                                            <td style="cursor: pointer;"><a  href={{file.changeFileName}} target="_blank">{{file.originalFileName}}</a></td>
                                                            <td>{{file.fileSize}}</td>
                                                            <td> <button mat-icon-button matTooltip="Delete" (click)="removeEditFile(file.commonFileId, file.id)">
                                                              <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                                                          </button>  </td>
                                                        </tr>
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>