<ng4-loading-spinner> </ng4-loading-spinner>

<div class="content">
    <div class="">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/electrification-targets']">Electrification Targets </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sidings</li>
                    </ol>
                </nav>
            </div>

            <div class="clear"> </div>
            <div class="row-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">Sidings Information</div>
                    <div class="panel-body">
                        <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{title}} Sidings Form</div>
                                <div class="panel-body">
                                    <div class="p-24">
                                        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
                                            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"
                                                fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                                                [formGroup]="sidingsItemFormGroup" (ngSubmit)="SidingsFormSubmit();">

                                                <div class="col-md-12">

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <textarea matInput placeholder="Station" [formControl]="sidingsItemFormGroup.controls['station']"></textarea>
                                                            <mat-error 
                                                            *ngIf="sidingsItemFormGroup.controls['station'].hasError('maxlength') && sidingsItemFormGroup.controls['station'].touched"
                                                             class="alert alert-danger">Max 250 characters only
                                                             </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                      <div class="col-md-3">
                                                          <mat-form-field fxFlex="30">
                                                              <textarea matInput placeholder="Siding Code" [formControl]="sidingsItemFormGroup.controls['sidingCode']" required></textarea>
                                                              <mat-error *ngIf="sidingsItemFormGroup.controls['sidingCode'].hasError('required')">
                                                                Enter siding Code
                                                              </mat-error>
                                                              <mat-error
                                                        *ngIf="sidingsItemFormGroup.controls['sidingCode'].hasError('duplicateSidingCode')"
                                                        class="alert alert-danger">
                                                        siding Code Already Exist
                                                    </mat-error>
                                                    <mat-error
                                                    *ngIf="sidingsItemFormGroup.controls['sidingCode'].hasError('duplicateSidingCodeAndId')"
                                                    class="alert alert-danger">
                                                    siding Code Already Exists
                                                  </mat-error>
                                                    <mat-error 
                                                            *ngIf="sidingsItemFormGroup.controls['sidingCode'].hasError('maxlength') && sidingsItemFormGroup.controls['sidingCode'].touched"
                                                             class="alert alert-danger">Max 250 characters only
                                                             </mat-error>
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-3">
                                                          <mat-form-field fxFlex="30">
                                                              <textarea matInput placeholder="Section" [formControl]="sidingsItemFormGroup.controls['section']" ></textarea>
                                                              <mat-error 
                                                            *ngIf="sidingsItemFormGroup.controls['section'].hasError('maxlength') && sidingsItemFormGroup.controls['section'].touched"
                                                             class="alert alert-danger">Max 250 characters only
                                                             </mat-error>
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-3">
                                                          <mat-form-field fxFlex="30">
                                                              <mat-select placeholder="Section Eletrified Status" [formControl]="sidingsItemFormGroup.controls['sectionEletrifiedStatus']" >
                                                                  <mat-option *ngFor="let status of status" [value]="status">
                                                                    {{ status}}
                                                                  </mat-option>
                                                                </mat-select>
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-3">
                                                          <mat-form-field fxFlex="30">
                                                              <mat-select placeholder="Siding Eletrified Status" [formControl]="sidingsItemFormGroup.controls['sidingEletrifiedStatus']" required (ngModelChange)="statusChange()">
                                                                  <mat-option *ngFor="let status of status" [value]="status">
                                                                    {{ status}}
                                                                  </mat-option>
                                                                </mat-select>
                                                          </mat-form-field>
                                                      </div>
                                                      
                                                      <div class="col-md-3">
                                                          <mat-form-field fxFlex="30">
                                                              <textarea matInput placeholder="Private Railway" [formControl]="sidingsItemFormGroup.controls['privateRailway']" ></textarea>
                                                              <mat-error 
                                                            *ngIf="sidingsItemFormGroup.controls['privateRailway'].hasError('maxlength') && sidingsItemFormGroup.controls['privateRailway'].touched"
                                                             class="alert alert-danger">Max 250 characters only
                                                             </mat-error>
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-3">
                                                          <mat-form-field fxFlex="30">
                                                              <textarea matInput placeholder="Status" [formControl]="sidingsItemFormGroup.controls['status']" ></textarea>
                                                              <mat-error 
                                                            *ngIf="sidingsItemFormGroup.controls['status'].hasError('maxlength') && sidingsItemFormGroup.controls['status'].touched"
                                                             class="alert alert-danger">Max 250 characters only
                                                             </mat-error>
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-2">
                                                      <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="Tkm
                                                            " decimalNumber [formControl]="sidingsItemFormGroup.controls['tkm']" />
                                                      </mat-form-field>
                                                  </div>
                                                    <div class="col-md-3">
                                                      <mat-form-field fxFlex="30">
                                                        <textarea matInput placeholder="Remarks" 
                                                        [formControl]="sidingsItemFormGroup.controls['remarks']" 
                                                        pattern="^[a-zA-Z0-9,\s._-]+(\s[a-zA-Z0-9,._-]+)?$" ></textarea>
                                                          <mat-error
                                                            *ngIf="sidingsItemFormGroup.controls['remarks'].hasError('maxlength')"
                                                            class="alert alert-danger">Max 250 characters only
                                                        </mat-error>
                                                      </mat-form-field>
                                                    </div>
                                                    
                                                    
                                                        <div class="col-md-12" *ngIf="onlyYes">
                                                      <div class="col-md-3">
                                                          <mat-form-field fxFlex="30">
                                                              <mat-select placeholder="Siding Proposed" [formControl]="sidingsItemFormGroup.controls['sidingProposed']" >
                                                                  <mat-option *ngFor="let status of status" [value]="status">
                                                                    {{ status}}
                                                                  </mat-option>
                                                                </mat-select>
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-3">
                                                          <mat-form-field>
                                                              <input matInput [matDatepicker]="picker" (dateInput)="addEvent('input', $event)"  [max]="today"
                                                              placeholder="proposed Date" [formControl]="sidingsItemFormGroup.controls['proposedDate']" >
                                                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                  <mat-datepicker #picker  ></mat-datepicker>
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-3">
                                                          <mat-form-field>
                                                              <input matInput [matDatepicker]="picker1" [min]="toMinDate" [max]="today"
                                                               placeholder="Approved Date" [formControl]="sidingsItemFormGroup.controls['approvalDate']" >
                                                                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                                  <mat-datepicker #picker1  ></mat-datepicker>
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-3">
                                                          <mat-form-field>
                                                              <input matInput [matDatepicker]="picker2" [min]="toMinDate" [max]="today"
                                                              placeholder="workOrder Date" [formControl]="sidingsItemFormGroup.controls['workOrderDate']" >
                                                                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                                  <mat-datepicker #picker2  ></mat-datepicker>
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-3">
                                                          <mat-form-field fxFlex="30">
                                                              <input matInput placeholder="Work Progress percentage" decimalNumber [formControl]="sidingsItemFormGroup.controls['workProgressPercentage']" />
                                                          </mat-form-field>
                                                      </div>
                                                      <div class="col-md-3">
                                                          <mat-form-field fxFlex="30">
                                                            <textarea matInput placeholder="Work Progress Remark" 
                                                        [formControl]="sidingsItemFormGroup.controls['workProgressRemark']" 
                                                        pattern="^[a-zA-Z0-9,\s._-]+(\s[a-zA-Z0-9,._-]+)?$" ></textarea>
                                                          <mat-error
                                                            *ngIf="sidingsItemFormGroup.controls['workProgressRemark'].hasError('maxlength')"
                                                            class="alert alert-danger">Max 250 characters only
                                                        </mat-error>
                                                          </mat-form-field>
                                                      </div>
                                                    </div>
                                                      <div class="col-md-3">
                                                          <mat-form-field>
                                                              <input matInput [matDatepicker]="picker3" placeholder="Energised Date"  [max]="today"
                                                              [formControl]="sidingsItemFormGroup.controls['completionDate']" >
                                                                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                                  <mat-datepicker #picker3  ></mat-datepicker>
                                                          </mat-form-field>
                                                      </div>

                                                  
                                                      <div class="col-md-3" *ngIf = "enableDepot">
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                          <mat-select placeholder="Select Depot" 
                                                            [formControl]="sidingsItemFormGroup.controls['depot']" >
                                                            <mat-option *ngFor="let depotData of facilityList"
                                                              [value]="depotData.facilityName">
                                                              {{ depotData.facilityName }}
                                                            </mat-option>
                                                          </mat-select>
                                                          
                                                        </mat-form-field>
                                                      </div>
                                                </div>

                                                <div class="clearfix"></div>
                                                <div class="col-md-3 mt-15">
                                                    <div class="float-right" style="float: right;">
                                                        <button class="mat-raised-button mat-accent" color="accent"
                                                            class="d-inline" mat-raised-button="" type="submit"
                                                            [disabled]="sidingsItemFormGroup.invalid" *ngIf="save">
                                                            Submit
                                                        </button>
                                                        <button class="mat-raised-button mat-accent  d-inline"
                                                            color="accent" type="submit" [disabled]="sidingsItemFormGroup.invalid"
                                                            mat-raised-button="" *ngIf="update">
                                                            Update
                                                        </button>&nbsp;&nbsp;
                                                        <span class="mat-raised-button mat-accent d-inline"
                                                            (click)="onGoBack()" color="warn" mat-raised-button="">
                                                            Back
                                                        </span>
                                                    </div>
                                                </div>


                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>