.mat-column-sno {
  flex: 0 0 80px;
}
.mat-column-drive {
  flex: 0 0 400px;
}
.mat-column-description {
  flex: 0 0 400px;
}
.mat-column-assetType {
  flex: 0 0 200px;
}
.mat-column-alreadyDone {
  flex: 0 0 120px;
}
.mat-column-performedCount {
  flex: 0 0 120px;
}
.mat-column-ids {
  flex: 0 0 100px;
}