<ng4-loading-spinner> </ng4-loading-spinner>

<div class="content">
    <div class="">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/cb-failure']">Failures </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cb Failure</li>
                    </ol>
                </nav>
            </div>

            <div class="clear"> </div>
            <div class="row-fluid">
               <!--  <div class="panel panel-primary">
                    <div class="panel-heading">Cb Fail Information</div>
                    <div class="panel-body"> -->
                        <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{title}} {{Titles.CB_FAILURE_FORM}}</div>
                                <div class="panel-body">
                                    <div class="p-24">
                                        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

                                            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"
                                                fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                                                [formGroup]="addCbFailFromGroup" (ngSubmit)="onAddFailureAnalysisFormSubmit();">

                                                <div class="col-md-12">

                                                    <!-- <div class="col-md-3">
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                            <mat-select placeholder="{{FiledLabels.SUB_STATION}}" (ngModelChange)="findEquipments()"
                                                                [formControl]="addCbFailFromGroup.controls['subStation']" required>
                                                                <mat-option *ngFor="let depot of facilityList"
                                                                    [value]="depot.unitId">
                                                                    {{ depot.unitCode }}
                                                                </mat-option>
                                                            </mat-select>                                                            
                                                        </mat-form-field>
                                                    </div> -->
                                                    <div *ngIf ="enableStation">
                                                    </div>
                                                    <div *ngIf="!enableStation; else StationElseBlock">
                                                        <div class="col-md-3">
                                                            <mat-form-field fxFlex="30" class="example-full-width">
                                                                <mat-select placeholder="{{FiledLabels.SUB_STATION}}" (ngModelChange)="findEquipments()"
                                                                    [formControl]="addCbFailFromGroup.controls['subStation']" required>
                                                                    <mat-option *ngFor="let depot of facilityList"
                                                                        [value]="depot.facilityId">
                                                                        {{ depot.facilityName }}
                                                                    </mat-option>
                                                                </mat-select>                                                            
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <ng-template #StationElseBlock>
                                                        <div class="col-md-3">
                                                            <mat-form-field fxFlex="30" class="example-full-width">
                                                                <mat-select placeholder="{{FiledLabels.SUB_STATION}}" (ngModelChange)="findEquipments()"
                                                                    [formControl]="addCbFailFromGroup.controls['subStation']" required>
                                                                    <mat-option *ngFor="let depot of facilityList"
                                                                        [value]="depot.facilityId">
                                                                        {{ depot.facilityName }}
                                                                    </mat-option>
                                                                </mat-select>                                                            
                                                            </mat-form-field>
                                                        </div>
                                                    </ng-template>
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                            <mat-select placeholder="{{FiledLabels.EQUIPMENT}}"
                                                                [formControl]="addCbFailFromGroup.controls['equipment']" required>
                                                                <mat-option *ngFor="let master of failureList"
                                                                    [value]="master.assetId">
                                                                    {{ master.assetId }}
                                                                </mat-option>
                                                            </mat-select>                                                            
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                            <mat-select placeholder="{{FiledLabels.CASCADE_ASSETS}}"  multiple="true"
                                                                [formControl]="addCbFailFromGroup.controls['cascadeAssets']" required>
                                                                <mat-option *ngFor="let master of failurecasList"
                                                                    [value]="master.assetId">
                                                                    {{ master.assetId }}
                                                                </mat-option>
                                                            </mat-select>                                                            
                                                        </mat-form-field>
                                                    </div>

                                                  <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                             <input matInput [owlDateTime]="dt1" style="width: 94%;"
                                                                [owlDateTimeTrigger]="dt1" placeholder="{{FiledLabels.FROM_DATE_TIME}}"                                                                
                                                                (dateTimeChange)="addEvent($event)"  [max]="maxDate"
                                                                [formControl]="addCbFailFromGroup.controls['fromDateTime']"(ngModelChange)="timeDuration()" required >                                                                
                                                                <owl-date-time #dt1 [showSecondsTimer]=true
                                                                    ></owl-date-time>
                                                                <span [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span>
                                                                <mat-error
                                                                *ngIf="addCbFailFromGroup.controls['fromDateTime'].hasError('duplicateSubStationAndEquipmentAndFromDateTime')"
                                                                class="alert alert-danger">
                                                                Station And Equipment And From date combination  Already Exists
                                                              </mat-error>
                                                              <mat-error
                                                              *ngIf="addCbFailFromGroup.controls['fromDateTime'].hasError('duplicateSubStationAndEquipmentAndFromDateTimeAndId')"
                                                              class="alert alert-danger">
                                                              Station And Equipment And From date combination  Already Exists
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>  
                                                    
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">                                                      
                                                            <input matInput [owlDateTime]="dt2" style="width: 94%;"
                                                              [owlDateTimeTrigger]="dt2" placeholder="{{FiledLabels.CLOSE_TIME}}"
                                                              (dateTimeChange)="addEventCloseDate($event)"                                                               
                                                              [max]="maxDate"  [min]="toMinDate"
                                                              [formControl]="addCbFailFromGroup.controls['thruDateTime']" (ngModelChange)="timeDuration()" >                                                                
                                                              <owl-date-time #dt2 [showSecondsTimer]=true
                                                                  ></owl-date-time>
                                                              <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>                                                              
                                                        </mat-form-field>  
                                                    </div>
                                                   

                                                     
                                                    
                                                     <!-- failureSection -->
                                                     <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="DURATION (HH:MM:SS)" readonly 
                                                                [formControl]="addCbFailFromGroup.controls['duration']"  [(ngModel)]="duration" >                                                               
                                                                                                                     
                                                        </mat-form-field>
                                                       
                                                    </div>
                                                   

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                            <mat-select placeholder="{{FiledLabels.RELAY_INDICATION}}"
                                                                [formControl]="addCbFailFromGroup.controls['relayIndication']">
                                                                <mat-option *ngFor="let relayIndication of relayIndicationList"
                                                                    [value]="relayIndication.statusCode">
                                                                    {{ relayIndication.statusCode }}
                                                                </mat-option>
                                                            </mat-select>                                                            
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30" class="example-full-width">
                                                            <mat-select placeholder="{{FiledLabels.NATURE_OF_CLOSURE}}"
                                                                [formControl]="addCbFailFromGroup.controls['natureOfClosure']">
                                                                <mat-option *ngFor="let natureOfClose of natureOfCloseList"
                                                                    [value]="natureOfClose.statusCode">
                                                                    {{ natureOfClose.statusCode }}
                                                                </mat-option>
                                                            </mat-select>                                                            
                                                        </mat-form-field>
                                                    </div>
                                                     <!-- assetType -->
                                                     <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="{{FiledLabels.R_VALUE}}" decimalNumber
                                                                [formControl]="addCbFailFromGroup.controls['rValue']"
                                                                (ngModelChange)="function()">                                                           
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="{{FiledLabels.X_VALUE}}" decimalNumber
                                                                [formControl]="addCbFailFromGroup.controls['xValue']"
                                                                (ngModelChange)="function()">                                                           
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="{{FiledLabels.Z_CONSTANT}}" readonly
                                                                [formControl]="addCbFailFromGroup.controls['zConstant']"
                                                                 [(ngModel)]="result"      >
                                                                                                                          
                                                        </mat-form-field> 
                                                    </div>

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="{{FiledLabels.FAULT_DISTANCE}}" decimalNumber
                                                                [formControl]="addCbFailFromGroup.controls['faultDistance']"
                                                                >                                                           
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="{{FiledLabels.ACTUAL_FAULT_DISTANCE}}" decimalNumber
                                                                [formControl]="addCbFailFromGroup.controls['actualFaultDistance']"
                                                                >                                                           
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="{{FiledLabels.CURRENT}}" decimalNumber
                                                                [formControl]="addCbFailFromGroup.controls['current']"
                                                                >                                                           
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="{{FiledLabels.VOLTAGE}}" decimalNumber
                                                                [formControl]="addCbFailFromGroup.controls['voltage']"
                                                                >                                                           
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="{{FiledLabels.PHASE_ANGLE}}"
                                                                [formControl]="addCbFailFromGroup.controls['phaseAngle']"
                                                                >                                                           
                                                        </mat-form-field>
                                                    </div>

                                                     <!-- assetId -->
                                                     <div class="col-md-3" fxFlex="30">                                                        
                                                        <mat-checkbox [formControl]="addCbFailFromGroup.controls['trippedIdentifiedFault']">Trip Indent</mat-checkbox>                                                        
                                                </div>

                                                     <!-- assetId -->
                                                     <div class="col-md-3" fxFlex="30">                                                        
                                                            <mat-checkbox [formControl]="addCbFailFromGroup.controls['divisionLocal']">Local</mat-checkbox>                                                        
                                                    </div>

                                                     <!-- subAssetType -->
                                                     <div class="col-md-3" fxFlex="30">                                                        
                                                        <mat-checkbox [formControl]="addCbFailFromGroup.controls['internalExternal']">External</mat-checkbox>                                                          
                                                      </div>

                                                     <!-- actionPlan -->
                                                     <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <textarea matInput placeholder="{{FiledLabels.REMARKS}}" 
                                                                [formControl]="addCbFailFromGroup.controls['remarks']"
                                                                > </textarea>                       
                                                                <mat-error
                                                                *ngIf="addCbFailFromGroup.controls['remarks'].hasError('pattern') && addCbFailFromGroup.controls['remarks'].touched"
                                                                class="alert alert-danger">Special characters are not allowed
                                                            </mat-error>                                   
                                                            <mat-error
                                                                *ngIf="addCbFailFromGroup.controls['remarks'].hasError('maxlength') && addCbFailFromGroup.controls['remarks'].touched"
                                                                class="alert alert-danger">Max 250 characters only
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                    
                                                <div class="clearfix"></div>
                                                <div class="col-md-3 mt-15">
                                                    <div class="float-right" style="float: right;">
                                                        <button class="mat-raised-button mat-accent" color="accent"
                                                            class="d-inline" mat-raised-button="" type="submit"
                                                            [disabled]="addCbFailFromGroup.invalid" *ngIf="save">
                                                            {{title}}
                                                        </button>
                                                        <button class="mat-raised-button mat-accent  d-inline"
                                                            color="accent"
                                                            mat-raised-button="" *ngIf="update">
                                                            {{title}}
                                                        </button>&nbsp;&nbsp;
                                                        <span class="mat-raised-button mat-accent d-inline"
                                                            (click)="onGoBack()" color="warn" mat-raised-button="">
                                                            Back
                                                        </span>
                                                    </div>
                                                </div>

                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </div>
                </div> -->
            </div>
        </div>
    </div>
</div>