<ng4-loading-spinner> </ng4-loading-spinner>

<div class="content">
    <div class="">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/drives']">Drives </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Electrification Targets</li>
                    </ol>
                </nav>
            </div>

            <div class="clear"> </div>
            <div class="row-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">Electrification Targets Information</div>
                    <div class="panel-body">
                        <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{title}} Electrification Targets Form</div>
                                <div class="panel-body">
                                    <div class="p-24">
                                        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

                                            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"
                                                fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                                                [formGroup]="addDriveElectrificationTargetsFormGroup" (ngSubmit)="onAddElectrificationTargetsFormSubmit();">

                                                <div class="col-md-12">

                                                    <!-- section -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="Section"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['section']"
                                                                required>
                                                            <mat-error
                                                                *ngIf="addDriveElectrificationTargetsFormGroup.controls['section'].hasError('required') && addDriveElectrificationTargetsFormGroup.controls['section'].touched"
                                                                class="alert alert-danger">Enter Section</mat-error>
                                                            <mat-error
                                                                *ngIf="addDriveElectrificationTargetsFormGroup.controls['section'].hasError('minlength') && addDriveElectrificationTargetsFormGroup.controls['section'].touched"
                                                                class="alert alert-danger">section minimum of 3
                                                                charecters
                                                            </mat-error>
                                                            <mat-error
                                                                *ngIf="addDriveElectrificationTargetsFormGroup.controls['section'].hasError('pattern') && addDriveElectrificationTargetsFormGroup.controls['section'].touched"
                                                                class="alert alert-danger">Only alphabets allowed
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- guage -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                          <!--   <input matInput placeholder="Guage"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['guage']"
                                                                required> -->
                                                                <mat-select placeholder="Guage"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['guage']" required>
                                                                <mat-option *ngFor="let guage of guageList"
                                                                    [value]="guage.statusCode">
                                                                    {{ guage.statusCode }}
                                                                </mat-option>
                                                            </mat-select>  
                                                            <mat-error
                                                                *ngIf="addDriveElectrificationTargetsFormGroup.controls['guage'].hasError('required') && addDriveElectrificationTargetsFormGroup.controls['guage'].touched"
                                                                class="alert alert-danger">Enter guage</mat-error>
                                                            <mat-error
                                                                *ngIf="addDriveElectrificationTargetsFormGroup.controls['guage'].hasError('pattern') && addDriveElectrificationTargetsFormGroup.controls['guage'].touched"
                                                                class="alert alert-danger">Only alphabets allowed
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- targetDate -->
                                                    <div class="col-md-3">
                                                        <mat-form-field>
                                                            <input matInput [matDatepicker]="picker1"
                                                                placeholder="Choose Target Date"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['targetDate']">
                                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker1></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>

                                                     <!-- status -->
                                                     <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="Status"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['status']"
                                                                >                                                            
                                                        </mat-form-field>
                                                    </div>

                                                     <!-- division -->
                                                     <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                           <!--  <input matInput placeholder="Division"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['division']"
                                                                > -->
                                                                <mat-select placeholder="Division"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['division']" required>
                                                                <mat-option *ngFor="let division of divisionList"
                                                                    [value]="division.description">
                                                                    {{ division.description }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>

                                                     <!-- executionAgency -->
                                                     <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                           <!--  <input matInput placeholder="Execution Agency" 
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['executionAgency']"
                                                                > -->
                                                                <mat-select placeholder="Execution Agency"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['executionAgency']">
                                                                <mat-option *ngFor="let executionAgency of executionAgencyList"
                                                                    [value]="executionAgency.statusCode">
                                                                    {{ executionAgency.statusCode }}
                                                                </mat-option>
                                                            </mat-select> 
                                                        </mat-form-field>
                                                        
                                                    </div>

                                                    <!-- TKM -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="TKM" numbersOnly
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['TKM']"
                                                                >                                                           
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- RKM -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="RKM" numbersOnly
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['RKM']"
                                                                >                                                          
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <!-- crsInspection -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="CRS Inspection"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['crsInspection']"
                                                                >
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- crsAuthorisation -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="CRS Authorisation"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['crsAuthorisation']"
                                                                >
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- targetSetBy -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="Target Set By"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['targetSetBy']"
                                                                >
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- doublingTrippling -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <!-- <input matInput placeholder="Doubling Trippling"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['doublingTrippling']"
                                                                >   -->                                       
                                                                <mat-select placeholder="Doubling Trippling"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['doublingTrippling']">
                                                                <mat-option *ngFor="let doublingTrippling of doublingTripplingList"
                                                                    [value]="doublingTrippling.statusCode">
                                                                    {{ doublingTrippling.statusCode }}
                                                                </mat-option>
                                                            </mat-select>                    
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- state -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <mat-select placeholder="State"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['state']">
                                                                <mat-option *ngFor="let state of stateList"
                                                                    [value]="state.id">
                                                                    {{ state.value}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- phase -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="Phase"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['phase']"
                                                                >                                                            
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- proposalScheme -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="Proposal Scheme"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['proposalScheme']"
                                                                >                                                            
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- sanctionByBoard -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="Sanction By Board"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['sanctionByBoard']"
                                                                >                                                            
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- yearOfSanction -->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                            <input matInput placeholder="Year Of Sanction" numbersOnly
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['yearOfSanction']"
                                                                >
                                                        </mat-form-field>
                                                    </div>

                                                    <!-- dateOfCompletion -->
                                                    <div class="col-md-3">
                                                        <mat-form-field>
                                                            <input matInput [matDatepicker]="picker"
                                                                placeholder="Choose Date Of Completion"
                                                                [formControl]="addDriveElectrificationTargetsFormGroup.controls['dateOfCompletion']">
                                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>

                                                <div class="clearfix"></div>
                                                <div class="col-md-3 mt-15">
                                                    <div class="float-right" style="float: right;">
                                                        <button class="mat-raised-button mat-accent" color="accent"
                                                            class="d-inline" mat-raised-button="" type="submit"
                                                            [disabled]="addDriveElectrificationTargetsFormGroup.invalid" *ngIf="save">
                                                            Submit
                                                        </button>
                                                        <button class="mat-raised-button mat-accent  d-inline"
                                                            [disabled]="addDriveElectrificationTargetsFormGroup.invalid" color="accent"
                                                            mat-raised-button="" *ngIf="update">
                                                            Update
                                                        </button>&nbsp;&nbsp;
                                                        <span class="mat-raised-button mat-accent d-inline"
                                                            (click)="onGoBack()" color="warn" mat-raised-button="">
                                                            Back
                                                        </span>
                                                    </div>
                                                </div>

                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>