.mat-column-sno {
    max-width: 80px;
}
.mat-column-checkPointPart {
    max-width: 170px;
}
.mat-column-checkPointDescription {
    max-width: 950px;
}
.mat-column-commparisonPoints {
    max-width: 350px;
}
