<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="breadcrumb-section">
				<nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Thermovision Measure</li>
                    </ol>
                </nav>
			</div>
			<div class="clear"> </div>
            <div class="row-fluid">
            	<div class="panel panel-primary">
            		<div class="panel-heading">{{Titles.OHE_THERMOVISION_MEASURE_INFORMATION}}</div>
            		<div class="panel-body">
            			<div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
                    		<form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column"
                                fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="inputFormGroup"
                                (ngSubmit)="saveOheThermovisionMeasure();">
                                <div class="col-md-3">
                                	<mat-form-field>
                                    	<input matInput [matDatepicker]="picker2"
                                        	placeholder="{{FiledLabels.DATE}}"
                                            	  [max]="maxDate"
                                                	[formControl]="inputFormGroup.controls['dateTime']" required>
                                      	<mat-datepicker-toggle matSuffix [for]="picker2">
                                    	</mat-datepicker-toggle>
                                    	<mat-datepicker #picker2></mat-datepicker>                                                           
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-md-3">
		                        	<div *ngIf = "checkDivisionUser ; else checkDivisionUserElseBlock">
		                                    <mat-form-field fxFlex="30" class="example-full-width">
		                                        <mat-select placeholder="{{FiledLabels.DIVISION}}" [formControl]="inputFormGroup.controls['division']"  (selectionChange)="getDepots()" required>
		                                            <mat-option *ngFor="let divisionsList of divisionsList "
		                                                [value]="divisionsList.division">
		                                                {{ divisionsList.division}}
		                                            </mat-option>
		                                        </mat-select>
		                                    </mat-form-field>
		                           </div>
		                           <ng-template #checkDivisionUserElseBlock>
		                           	<mat-form-field fxFlex="30">
										<input matInput formControlName="division" [value]="divCode"
											[(ngModel)]="divCode" readonly>
										</mat-form-field>
		                          </ng-template>
		                        </div>
		                        <!-- <div class="col-md-3">
		                        	<mat-form-field fxFlex="30" class="example-full-width">
		                        		<input matInput formControlName="depotType" [value]="depotType"
											[(ngModel)]="depotType" readonly>
										</mat-form-field>
		                        	</mat-form-field>
		                        </div> -->
		                        <div class="col-md-3">
                                    <mat-form-field fxFlex="30" class="example-full-width">
                                        <!-- <mat-select placeholder="Station Type" [formControl]="inputFormGroup.controls['depotType']"  (selectionChange)="getFacilitys()" required>
                                            <mat-option *ngFor="let depotType of depotTypes "
                                                [value]="depotType">
                                                {{ depotType}}
                                            </mat-option>
                                        </mat-select> -->
                                        <input matInput formControlName="depotType" [value]="depotType"
											[(ngModel)]="depotType" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field fxFlex="30" class="example-full-width">
                                        <mat-select placeholder="{{FiledLabels.STATION}}" [formControl]="inputFormGroup.controls['facilityId']"  required>
                                            <mat-option *ngFor="let depot of depotsList "
                                                [value]="depot">
                                                {{ depot.facilityName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
								<div class="col-md-3">
                                	<mat-form-field fxFlex="30">
                                    	<input matInput placeholder="{{FiledLabels.LOCATION}}"
                                        	[formControl]="inputFormGroup.controls['location']">
                                        </mat-form-field>
					           	</div>
					           	<div class="col-md-3">
                                    <mat-form-field fxFlex="30" class="example-full-width">
                                        <mat-select placeholder="{{FiledLabels.CONNECTION_POINT}}" [formControl]="inputFormGroup.controls['connectionPoint']"   required>
                                            <mat-option *ngFor="let statusItem of statusItems "
                                                [value]="statusItem.statusCode">
                                                {{ statusItem.statusCode}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                	<mat-form-field fxFlex="30">
                                    	<input matInput placeholder="{{FiledLabels.MEASURE}}" autocomplete="off"
                                        	[formControl]="inputFormGroup.controls['measure']" decimalNumber required>
                                        </mat-form-field>
					           	</div>
					           	<div class="col-md-3">
                                	<mat-form-field fxFlex="30">
                                    	<input matInput placeholder="{{FiledLabels.AMBIENT_TEMP}}" autocomplete="off"
                                        	[formControl]="inputFormGroup.controls['ambientTemp']" decimalNumber >
                                        </mat-form-field>
					           	</div>
					           	<div class="col-md-3">
                                	<mat-form-field fxFlex="30">
                                    	<input matInput placeholder="{{FiledLabels.DONE_BY}}" 
                                        	[formControl]="inputFormGroup.controls['by']" >
                                        </mat-form-field>
					           </div>
					           <div class="col-md-3">
                                	<mat-form-field fxFlex="30">
                                    	<input matInput placeholder="{{FiledLabels.REMARKS}}"
                                        	[formControl]="inputFormGroup.controls['generalRemark']">
                                        </mat-form-field>
					           </div>					           
	                            <div class="col-md-2 mt-15">
									<div class="float-right" style="float: right;">
										<button class="mat-raised-button mat-accent" color="accent"
											class="d-inline" mat-raised-button="" type="submit"
												[disabled]="inputFormGroup.invalid">Save</button>
									</div>
								</div>
							</form>
                    	</div>
                    	<div class="clear"></div>
                    	<!-- <div class = "col-md-3" >
                        	<mat-form-field fxFlex="30">
                            	<input matInput autocomplete="off" placeholder = "{{FiledLabels.TEMP_DIFF}}" decimalNumber [(ngModel)]="ambientTemp"  (ngModelChange)="applyAmbientTemp()" />
                            </mat-form-field>
                        </div> -->
                        
                    	<div class="clear"> </div>
		                	 <div class="mat-elevation-z8">
		                		<mat-table [dataSource]="dataSource" matSort>
		                			<ng-container matColumnDef="sno" >
	                                	<mat-header-cell  *matHeaderCellDef mat-sort-header><span>{{FiledLabels.S_NO}}</span></mat-header-cell>
	                                    <mat-cell  *matCellDef="let row" > {{row.sno}}</mat-cell>
	                               	</ng-container>
	                               	<ng-container matColumnDef="Date">
	                                	<mat-header-cell *matHeaderCellDef mat-sort-header><span>{{FiledLabels.DATE}}</span></mat-header-cell>
	                                    	<mat-cell *matCellDef="let row">
	                                    		{{row.date}}
	                                        </mat-cell>
	                                </ng-container>
	                                <ng-container matColumnDef="Depot">
	                                	<mat-header-cell *matHeaderCellDef mat-sort-header><span>{{FiledLabels.DEPOT}}</span></mat-header-cell>
	                                    	<mat-cell *matCellDef="let row" >
	                                        	{{row.facilityName}}
	                                        </mat-cell>
	                                </ng-container>
	                                <ng-container matColumnDef="Location">
	                                	<mat-header-cell *matHeaderCellDef mat-sort-header><span>{{FiledLabels.LOCATION}}</span></mat-header-cell>
	                                    	<mat-cell *matCellDef="let row">
	                                    		{{row.location}}
	                                        </mat-cell>
	                                </ng-container>
	                                <ng-container matColumnDef="connectionPoint">
	                                	<mat-header-cell *matHeaderCellDef mat-sort-header><span>{{FiledLabels.CONNECTION_POINT}}</span></mat-header-cell>
	                                    	<mat-cell *matCellDef="let row" >
	                                        	{{row.connectionPoint}}
	                                        </mat-cell>
	                                </ng-container>
	                                <ng-container matColumnDef="measure">
	                                	<mat-header-cell *matHeaderCellDef mat-sort-header><span>{{FiledLabels.MEASURE}}</span></mat-header-cell>
	                                    	<mat-cell *matCellDef="let row">
	                                    		{{row.measurePoint1}}
	                                        </mat-cell>
	                                </ng-container>
	                                <ng-container matColumnDef="ambientTemp">
	                                	<mat-header-cell *matHeaderCellDef mat-sort-header><span>{{FiledLabels.AMBIENT_TEMP}}</span></mat-header-cell>
	                                    	<mat-cell *matCellDef="let row">
	                                    		{{row.ambientTemp}}
	                                        </mat-cell>
	                                </ng-container>
	                               	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	                                	<mat-row *matRowDef="let row; columns: displayedColumns;">
	                                    </mat-row>
		                		</mat-table>
		                	</div> 
		                	
		                	<!-- <div class="col-md-6 mt-15" *ngIf = "enableSave">
			                	<div class="float-right" style="float: right;" >
	                                 	<button mat-raised-button color="accent" (click)="saveAction()">Save</button>
	                            </div>
                            </div> -->
            		</div>
            	</div>
            </div>
		</div>
	</div>	
</div>