<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content container-fluid">
	 <div class="row">
	 	<div class="col-12">
	 		 <div class="breadcrumb-section">
	 		 	<nav aria-label="breadcrumb">
	 		 		<ol class="breadcrumb">
	 		 			<li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/powerBlocks']">Power block </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Switch Operation</li>
	 		 		</ol>
	 		 	</nav>
	 		 </div>
	 		 <div class="clear"> </div>
             <div class="row-fluid">
             	<div class="panel panel-primary">
             		<div class="panel-heading">Switch Operation Information   {{nowDate}}
             			<div class="float-right" style="float: right;">
             				<span [routerLink]="['/powerBlocks']" color="warn" mat-raised-button="">
             				<mat-icon>arrow_back_ios</mat-icon>
                            </span> 
                        </div>                                
             		</div>
             		<div class="panel-body">
             			<div class="alert alert-info" role="alert" *ngIf="powerBlockData">
						  <strong><b>Power Block Details Of </b></strong>{{depot }}<strong> Date: </strong>{{date }} <strong> ES: </strong>{{powerBlockData.section}} 
						   ( {{powerBlockData.elementarySectionCode}} )<strong> Request By:</strong>{{powerBlockData.reqnBy}} 
						  <!--<div class="float-right" style="float: right;">
							   <span  [routerLink]="['/powerBlocks']" color="warn" mat-raised-button="">
	             				Back
	                            </span> 
                            </div> -->
						</div>
             		</div>
             		<div class="clear"> </div>
             		<div>
                    	<table class="table" >
                        	<thead>
					        	<th>PTW Issue</th>
					        	<th>Tpc No</th>
				            	<th>Field No</th>
				            	<th>Save</th>
				            	<th>PTW Return</th>
					        	<th>Tpc No</th>
				            	<th>Field No</th>
				            	<th>Action</th>
			                </thead>
			                <tbody>
						        <tr>
							        <td>
							        	<mat-form-field style="width:100px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="ptwAvailedFromDateOnlyTime" readonly >
	                            			<button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="getPtwIssueDate()">
		    								<mat-icon>access_time</mat-icon>
		  									</button>
  										</mat-form-field>
							        </td>
							        <td>
							        	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="tpcNoPtwIssue"  readonly>
  										</mat-form-field>
							        </td>
							        <td>
							        	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="fieldNoPtwIssue"  >
  										</mat-form-field>
							        </td>
							        <td>
							        	<a mat-icon-button matTooltip="Save" >
	                        				<button mat-icon-button matTooltip="Save"
	                        					(click)="pbSaveAction()">
	                        					<mat-icon style="color: rgb(0, 145, 234);">save</mat-icon>
	                        				</button>
	                        			</a>
							        </td>
							        <td>
							        	<mat-form-field style="width:100px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="ptwAvailedThruDateOnlyTime"  readonly>
	                            			<button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="getPtwReturnDate()">
		    								<mat-icon>access_time</mat-icon>
		  									</button>
  										</mat-form-field>
							        </td>
							        <td>
							        	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="tpcNoPtwReturn"  readonly>
  										</mat-form-field>
							        </td>
							        <td>
							        	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="fieldNoPtwReturn"  >
  										</mat-form-field>
							        </td>
							        <td>
										<button class="mat-raised-button mat-accent" color="accent"
													class="d-inline" mat-raised-button="" (click)="ptwAmendment()"
														>amendment</button>&nbsp;&nbsp;
										<button class="mat-raised-button mat-accent" color="accent"
											class="d-inline" mat-raised-button="" (click)="addSwitchDialog()"
												>Add Switch</button>
							        </td>
						        </tr>
					        </tbody>
                    	</table>
                    </div>
             		<!-- <div class="mat-elevation-z8">
             			<mat-table [dataSource]="pbDataSource" >
             				<ng-container matColumnDef="ptwIssue">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>PTW Issue</mat-header-cell>
		                            <mat-cell *matCellDef="let row">
		                            	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="row.ptwAvailedFromDateTime" readonly >
	                            			<button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="getPtwIssueDate(row)">
		    								<mat-icon>access_time</mat-icon>
		  									</button>
  										</mat-form-field>
		                            </mat-cell>
	                        </ng-container>
	                        <ng-container matColumnDef="tpcNo">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>tpc No</mat-header-cell>
		                            <mat-cell *matCellDef="let row">
		                            	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="row.tpcNoPtwIssue"  readonly>
  										</mat-form-field>
		                            </mat-cell>
	                        </ng-container>
	                        <ng-container matColumnDef="fieldNo">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>field No</mat-header-cell>
		                            <mat-cell *matCellDef="let row">
		                            	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="row.fieldNoPtwIssue"  >
  										</mat-form-field>
		                            </mat-cell>
	                        </ng-container>
	                        <ng-container matColumnDef="ptwReturn">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>PTW Return</mat-header-cell>
		                            <mat-cell *matCellDef="let row">
		                            	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="row.ptwAvailedThruDateTime"  readonly>
	                            			<button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="getPtwReturnDate(row)">
		    								<mat-icon>access_time</mat-icon>
		  									</button>
  										</mat-form-field>
		                            </mat-cell>
	                        </ng-container>
	                        <ng-container matColumnDef="tpcNoPtwReturn">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>tpc No</mat-header-cell>
		                            <mat-cell *matCellDef="let row">
		                            	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="row.tpcNoPtwReturn"  readonly>
  										</mat-form-field>
		                            </mat-cell>
	                        </ng-container>
	                        <ng-container matColumnDef="fieldNo">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>field No</mat-header-cell>
		                            <mat-cell *matCellDef="let row">
		                            	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="row.fieldNoPtwReturn"  >
  										</mat-form-field>
		                            </mat-cell>
	                        </ng-container>
	                        <mat-header-row *matHeaderRowDef="pbDisplayedColums"></mat-header-row>
	                        <mat-row *matRowDef="let row; columns: pbDisplayedColums">
	                        </mat-row> 
             			</mat-table>
             		
             		</div> -->
             		<!-- <div class="col-md-2 mt-15">
									<div class="float-right" style="float: right;">
										<button class="mat-raised-button mat-accent" color="accent"
											class="d-inline" mat-raised-button="" (click)="addSwitchDialog()"
												>Add Switch</button>
									</div>
								</div> -->
             		<div class="clear"> </div>
             		<div class="mat-elevation-z8">
             			<mat-table [dataSource]="dataSource" matSort>
             				<ng-container matColumnDef="switchId">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.SWITCH_ID}}</mat-header-cell>
	                            <mat-cell *matCellDef="let row"> {{row.ioLocation}}</mat-cell>
	                        </ng-container>
	                        
	                        <!-- io open date time  -->

	                        <ng-container matColumnDef="openDate">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.OPEN_DATE}}</mat-header-cell>
	                            <ng-container *matCellDef="let row">
		                            <mat-cell *ngIf="row.ioType === 'MANUAL'; else ioOpenedDateTimeElseBlock">
		                            	<mat-form-field style="width:100px !important; text-align: left">
		                            	<input matInput type="text" [(ngModel)]="row.ioOpenedOnlyTime" readonly >
	  									<button mat-button style="width:40px !important; text-align: left" matSuffix mat-icon-button aria-label="Clear" (click)="getOpenDate(row)">
	    								<mat-icon>access_time</mat-icon>
	  									</button>
	  									</mat-form-field>
		                            </mat-cell>
	                            </ng-container>
	                            <ng-template #ioOpenedDateTimeElseBlock>
		                            <mat-cell></mat-cell>
	                            </ng-template>
	                        </ng-container>
	                        
	                       <!-- tpc no io open  -->
	                        
	                       <ng-container matColumnDef="tpcNoIoOpen">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.TPC_NO_OPEN}}</mat-header-cell>
	                        	<ng-container *matCellDef="let row">
	                            <mat-cell *ngIf="row.ioType === 'MANUAL'; else tpcNoIoOpenElseBlock">
	                            	<mat-form-field style="width:50px !important; text-align: left">
	                            	<input matInput type="text" [(ngModel)]="row.tpcNoIoOpen" readonly >
  									</mat-form-field>
	                            </mat-cell>
	                            </ng-container>
	                            <ng-template #tpcNoIoOpenElseBlock>
		                            <mat-cell></mat-cell>
	                            </ng-template>
	                        </ng-container>
	                        
	                        <!-- field num io open -->
	                        
	                        <ng-container matColumnDef="fieldNumOpen">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.F_NO_OPEN}}</mat-header-cell>
	                            <ng-container *matCellDef="let row">
		                            <mat-cell *ngIf="row.ioType === 'MANUAL'; else fieldNoIoOpenElseBlock">
		                            	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="row.fieldNoIoOpen"  >
  										</mat-form-field>
		                            </mat-cell>
	                            </ng-container>
	                            <ng-template #fieldNoIoOpenElseBlock>
		                            <mat-cell></mat-cell>
	                            </ng-template>
	                        </ng-container>
	                        <!-- <ng-container matColumnDef="fieldNumOpen">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>Open Date</mat-header-cell>
	                            <mat-cell *matCellDef="let row">
	                            	<mat-form-field style="width:100px !important; text-align: left">
	                            	<input matInput type="text" [(ngModel)]="row.fieldNoIoOpen" readonly >
  									</mat-form-field>
	                            </mat-cell>
	                        </ng-container> -->
	                        
	                        <!-- io open done date -->
	                        
	                        <ng-container matColumnDef="openDoneDate">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.OPEN_DONE}}</mat-header-cell>
	                            <mat-cell *matCellDef="let row">
	                            	<mat-form-field style="width:100px !important; text-align: left">
	                            	<input matInput type="text" [(ngModel)]="row.ioOpenDoneOnlyTime" readonly >
  									<button mat-button style="width:40px !important; text-align: left"  matSuffix mat-icon-button aria-label="Clear" (click)="getOpenDoneDate(row)">
    								<mat-icon>access_time</mat-icon>
  									</button>
  									</mat-form-field>
	                            </mat-cell>
	                        </ng-container>
	                        
	                        <!-- tpc no io open done -->
	                        
	                       <ng-container matColumnDef="tpcNoIoOpenDone">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.TPC_NO_OPEN_DONE}}</mat-header-cell>
	                            <ng-container *matCellDef="let row">
	                            <mat-cell *ngIf="row.ioType === 'MANUAL'; else tpcNoIoOpenDoneElseBlock">
	                            	<mat-form-field style="width:50px !important; text-align: left">
	                            	<input matInput type="text" [(ngModel)]="row.tpcNoIoOpenDone" readonly >
  									</mat-form-field>
	                            </mat-cell>
	                            <ng-template #tpcNoIoOpenDoneElseBlock>
		                            <mat-cell></mat-cell>
	                            </ng-template>
	                            </ng-container>
	                        </ng-container>
	                        
	                        <!-- field no io open done -->
	                        
	                        <ng-container matColumnDef="fieldNumOpenDone">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.F_NO_OPEN_DONE}}</mat-header-cell>
	                            <ng-container *matCellDef="let row">
	                            <mat-cell *ngIf="row.ioType === 'MANUAL'; else fieldNumOpenDoneElseBlock">
	                            	<mat-form-field style="width:50px !important; text-align: left">
	                            	<input matInput type="text" [(ngModel)]="row.fieldNoIoOpenDone"  >
  									</mat-form-field>
	                            </mat-cell>
	                            </ng-container>
	                            <ng-template #fieldNumOpenDoneElseBlock>
		                            <mat-cell></mat-cell>
	                            </ng-template>
	                        </ng-container>
	                        
	                        <!-- io opened by -->
	                        
	                        <ng-container matColumnDef="openBy">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.OPEN_BY}}</mat-header-cell>
	                            <mat-cell *matCellDef="let row">
	                            	<mat-form-field style="width:120px !important; text-align: left">
	                            	<input matInput type="text" [(ngModel)]="row.ioOpenedBy"  >
  									</mat-form-field>
	                            </mat-cell>
	                        </ng-container>
	                        
	                        <!-- io close date time  -->
	                        <ng-container matColumnDef="closeDate">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.CLOSE}}</mat-header-cell>
	                            <ng-container *matCellDef="let row">
		                            <mat-cell *ngIf="row.ioType === 'MANUAL'; else ioClosedDateTimeElseBlock">
		                            	<mat-form-field style="width:100px !important; text-align: left">
		                            	<input matInput type="text" [(ngModel)]="row.ioClosedOnlyTime" readonly >
	  									<button mat-button style="width:40px !important; text-align: left"  matSuffix mat-icon-button aria-label="Clear" (click)="getCloseDate(row)">
	    								<mat-icon>access_time</mat-icon>
	  									</button>
	  									</mat-form-field>
		                            </mat-cell>
	                            </ng-container>
	                            <ng-template #ioClosedDateTimeElseBlock>
		                            <mat-cell></mat-cell>
	                            </ng-template>
	                        </ng-container>
	                        
	                        <!-- tpc no io close  -->
	                        
	                       <ng-container matColumnDef="tpcNoIoClose">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.TPC_NO_CLOSE}}</mat-header-cell>
	                            <ng-container *matCellDef="let row">
		                            <mat-cell *ngIf="row.ioType === 'MANUAL'; else tpcNoIoCloseElseBlock">
		                            	<mat-form-field style="width:50px !important; text-align: left">
		                            	<input matInput type="text" [(ngModel)]="row.tpcNoIoClose" readonly >
	  									</mat-form-field>
		                            </mat-cell>
	                            </ng-container>
	                            <ng-template #tpcNoIoCloseElseBlock>
		                            <mat-cell></mat-cell>
	                            </ng-template>
	                        </ng-container>
	                        
	                        <!-- field no io close -->
	                        
	                        <ng-container matColumnDef="fieldNumClose">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.F_NO_CLOSE}}</mat-header-cell>
	                            <ng-container *matCellDef="let row">
		                            <mat-cell *ngIf="row.ioType === 'MANUAL'; else fieldNoIoCloseElseBlock">
		                            	<mat-form-field style="width:50px !important; text-align: left">
	                            			<input matInput type="text" [(ngModel)]="row.fieldNoIoClose"  >
  										</mat-form-field>
		                            </mat-cell>
	                            </ng-container>
	                            <ng-template #fieldNoIoCloseElseBlock>
		                            <mat-cell></mat-cell>
	                            </ng-template>
	                        </ng-container>
	                        
	                        <!-- io close done date -->
	                        
	                        <ng-container matColumnDef="closeDoneDate">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.CLOSE_DONE}}</mat-header-cell>
	                            <mat-cell *matCellDef="let row">
	                            	<mat-form-field style="width:100px !important; text-align: left">
	                            	<input matInput type="text" [(ngModel)]="row.ioCloseDoneOnlyTime" readonly >
  									<button mat-button style="width:40px !important; text-align: left"  matSuffix mat-icon-button aria-label="Clear" (click)="getCloseDoneDate(row)">
    								<mat-icon>access_time</mat-icon>
  									</button>
  									</mat-form-field>
	                            </mat-cell>
	                        </ng-container>
	                        
	                        <!-- tpc no io close Done -->
	                        
	                       <ng-container matColumnDef="tpcNoIoCloseDone">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.TPC_NO_CLOSE_DONE}}</mat-header-cell>
	                            <ng-container *matCellDef="let row">
		                            <mat-cell *ngIf="row.ioType === 'MANUAL'; else tpcNoIoCloseDoneElseBlock">
		                            	<mat-form-field style="width:50px !important; text-align: left">
		                            	<input matInput type="text" [(ngModel)]="tpcNoIoCloseDone" readonly >
	  									</mat-form-field>
		                            </mat-cell>
	                            </ng-container>
	                            <ng-template #tpcNoIoCloseDoneElseBlock>
		                            <mat-cell></mat-cell>
	                            </ng-template>
	                        </ng-container>
	                        
	                        <!-- Field no close done -->
	                        
	                        <ng-container matColumnDef="fieldNumCloseDone">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.F_NO_CLOSE_DONE}}</mat-header-cell>
	                            <ng-container *matCellDef="let row">
		                            <mat-cell *ngIf="row.ioType === 'MANUAL'; else fieldNumCloseDoneElseBlock">
		                            	<mat-form-field style="width:50px !important; text-align: left">
		                            	<input matInput type="text" [(ngModel)]="row.fieldNoIoCloseDone"  >
	  									</mat-form-field>
		                            </mat-cell>
	                            </ng-container>
	                            <ng-template #fieldNumCloseDoneElseBlock>
		                            <mat-cell></mat-cell>
	                            </ng-template>
	                        </ng-container>
	                        
	                         <!-- io closed by -->
	                        
	                        <ng-container matColumnDef="closeBy">
	                        	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.CLOSE_BY}}</mat-header-cell>
	                            <mat-cell *matCellDef="let row">
	                            	<mat-form-field style="width:120px !important; text-align: left">
	                            	<input matInput type="text" [(ngModel)]="row.ioClosedBy"  >
  									</mat-form-field>
	                            </mat-cell>
	                        </ng-container>
	                        
	                        <!-- actions -->
	                        
	                        <ng-container matColumnDef="actions">
						    	<mat-header-cell *matHeaderCellDef mat-sort-header>{{FiledLabels.ACTIONS}}</mat-header-cell>
	                        		<mat-cell *matCellDef="let row">
	                        			<a mat-icon-button matTooltip="Save" >
	                        				<button mat-icon-button matTooltip="Save"
	                        					(click)="processSaveAction(row)">
	                        					<mat-icon style="color: rgb(0, 145, 234);">save</mat-icon>
	                        				</button>
	                        			</a>
	                        			<button class="mat-raised-button mat-accent" color="accent" *ngIf="row.ioOpenedOnlyTime"
											class="d-inline" mat-raised-button="" (click)="switchAmendment(row)"
												>SA</button>
	                        		</mat-cell> 
	                        </ng-container>
	                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	                        <mat-row *matRowDef="let row; columns: displayedColumns;">
	                        </mat-row>                
             			</mat-table>
             		</div>
             	</div>
             </div>
	 	</div>
	 </div>
</div>
