<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content">
	 <div class="">
	 	<div class="col-12">
	 		 <div class="breadcrumb-section">
	 		 	<nav aria-label="breadcrumb">
	 		 		<ol class="breadcrumb">
	 		 			<li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/powerBlocks']">Power block </a></li>
	 		 		</ol>
	 		 	</nav>
	 		 </div>
	 		 <div class="clear"> </div>
             <div class="row-fluid">
             	<div class="panel panel-primary">
             		<div class="panel-heading">Switch Operation Information</div>
             		<div class="panel-body">
             		</div>
             	</div>
             </div>
	 	</div>
	 </div>
</div>