
.mat-column-sno {
    flex: 0 0 100px;
  }
  .mat-column-asset {
    flex: 0 0 150px;
  }
  .mat-column-facility {
    flex: 0 0 100px;
  }
  
  .mat-column-asetId {
    flex: 0 0 100px;
  }
  .mat-column-make {
    flex: 0 0 80px;
  }
  
  .mat-column-nextAoh {
    flex: 0 0 80px;
  }
  .mat-column-nextPoh {
    flex: 0 0 80px;
  }
  .mat-column-dateStatus {
    flex: 0 0 100px;
  }
  .mat-column-currentStatus { 
    flex: 0 0 100px;
  }
  .mat-column-status {
    flex: 0 0 100px;
  }
 
  .mat-column-remarks {
    flex: 0 0 100px;
  }
  .mat-column-actions {
    flex: 0 0 100px;
  }
