<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/product']">Products </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product Category Member</li>
                    </ol>
                </nav>
            </div>

            <div class="clear"> </div>
            <div class="row-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">Product Category Member Information</div>
                    <div class="panel-body">

                        
                        <div class="panel panel-primary">
                            <div class="panel-heading">Product Category Member Information</div>
                            <div class="panel-body">
                                <div id="forms" class="page-layout simple fullwidth" fxLayout="column"
                                    fusePerfectScrollbar>
                                    
                                    <div class="p-24" style="text-align: right" >
                                        <button class="mat-raised-button mat-accent" color="accent" mat-raised-button=""
                                            [routerLink]="['add-product-category-member']">
                                            Add Product Category Member
                                        </button>
                                    </div>

                                    <div class="p-24">

                                        <div class="example-header">
                                            <div class="col-sm-4">
                                                <mat-form-field>
                                                    <input matInput (keyup)="applyFilter($event.target.value)"
                                                        placeholder="Filter">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="clear"> </div>
                                        </div>

                                        <div class="example-container mat-elevation-z8">

                                            <mat-table [dataSource]="dataSource" matSort>

                                                <ng-container matColumnDef="sno">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sno.
                                                    </mat-header-cell>

                                                    <mat-cell *matCellDef="let row"> {{row.sno}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="productCategoryId">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Product Category Id
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.productCategoryId}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="productId">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Product Id
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.productId}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="quantity">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{row.quantity}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="fromDate">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>From Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        {{row.fromDate | date :  "yyyy-MM-dd hh:mm:ss"}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="thruDate">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>To Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        {{row.thruDate | date :  "yyyy-MM-dd hh:mm:ss"}}</mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="actions">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Actions
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <a mat-icon-button matTooltip="Edit">
                                                            <button mat-icon-button matTooltip="Edit"
                                                                (click)="processEditAction(row.id)">
                                                                <mat-icon style="color: rgb(0, 145, 234);">edit
                                                                </mat-icon>
                                                            </button>
                                                        </a>
                                                        <button mat-icon-button matTooltip="Delete"
                                                            (click)="delete(row.id)">
                                                            <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                                                        </button>
                                                    </mat-cell>
                                                </ng-container>
                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                                </mat-row>
                                            </mat-table>

                                            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        