<div class="row">
    <div class="col-12">
        <div class="row-fluid">
                <div class="close-box">
                        <div mat-dialog-actions class="pt-24 ">                        
                                <button class="mat-accent mr-16" mat-button (click)="dialogRef.close(false)"><i class="material-icons">
                                        close
                                        </i>
                                    </button>
                        </div>
                </div>
                <div class="clear"> </div>
						 <div>
  
							<form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" *ngIf="editPermission" fxLayout="column"
							fxLayoutAlign="start" [formGroup]="updateStatusChangeFormGroup" fxFlex="1 0 auto"
							(ngSubmit)="updateStatusChangeSubmit();">
							<div class="panel panel-primary">
							  <div class="panel-heading">Update {{Titles.TOWERCAR_STATUS}}</div>
							  <div class="panel-body">
								  <div class="col-md-12">
									
								<div class="col-md-3">
								<mat-form-field fxFlex="30">
									<input matInput placeholder="{{FiledLabels.TOWERCAR_TYPE}}" [formControl]="updateStatusChangeFormGroup.controls['assetType']" readonly/>
									
								</mat-form-field>
								</div>
								
								<div class="col-md-3">
									<mat-form-field fxFlex="30">
										<input matInput placeholder="{{FiledLabels.DEPOT}}" [formControl]="updateStatusChangeFormGroup.controls['facilityId']" readonly/>
										
									</mat-form-field>
									</div>
								
								<div class="col-md-3">
									<mat-form-field fxFlex="30">
										<input matInput placeholder="{{FiledLabels.TOWERCAR_NO}}" [formControl]="updateStatusChangeFormGroup.controls['assetId']" readonly/>
										
									</mat-form-field>
									</div>
							
								<div class="col-md-3">
									<mat-form-field>
										<input matInput [matDatepicker]="picker1"
											placeholder="{{FiledLabels.STATUS_DATE}}"											
											[formControl]="updateStatusChangeFormGroup.controls['dateOfStatus']" required>
										<mat-datepicker-toggle matSuffix [for]="picker1">
										</mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>                                                           
									</mat-form-field>
                                </div> 	
                                
								<div class="col-md-3">
									<mat-form-field fxFlex="30">										
										<mat-select placeholder="{{FiledLabels.CURRENT_STATUS}}" [formControl]="updateStatusChangeFormGroup.controls['currentStatus']" >													
                                            <mat-option
                                                *ngFor="let depot of ChangeStatus"
                                                [value]="depot.statusCode">
                                                {{ depot.statusCode}}
                                            </mat-option>
                                        </mat-select>
									</mat-form-field>
                                    </div>
                                    	
								<div class="col-md-3">
									<mat-form-field fxFlex="30">
										<input matInput placeholder="{{FiledLabels.REMARKS}}" [formControl]="updateStatusChangeFormGroup.controls['remarks']" />
										
									</mat-form-field>
									</div>
								
								  <div class="col-md-3 mt-15">
										  <div fxFlex="10" fxLayoutAlign="center center" style="padding-bottom:10px;" class="pr-5 d-inline">
											  <button mat-raised-button color="accent" [disabled]="updateStatusChangeFormGroup.invalid"
											  class="submit-button"   aria-label="Submit">
											  Update
											  </button>
										  </div>
										  <div class="p-12 d-inline">
											  <span class="mat-raised-button mat-warn" (click)="onGoBack()" color="warn"
												mat-raised-button="">
												Close
											  </span> 									 
											</div>										
											
									  </div>
									  
								  </div>
							  </div>
							</div>
							</form>
							</div> 
            <div class="panel panel-primary">
                <div class="panel-heading">History Information </div>
                <div class="panel-body">
                    <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                        <div class="p-24">                         

                            <div class="example-container mat-elevation-z8">

                                <mat-table [dataSource]="assetStatusDataSource" matSort>

                                    <ng-container matColumnDef="sno">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px">Sno.
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.sno}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="assetId">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>TW No
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.assetId}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="dateOfStatus">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Status Date
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.dateOfStatus}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="currentStatus">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Status
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.currentStatus}}</mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="remarks">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Remarks
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.remarks}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                                        <mat-cell *matCellDef="let row">                                            
                                            <a mat-icon-button matTooltip="Edit" > 
                                                <button mat-icon-button matTooltip="Edit"
                                                    (click)="processEditAction(row.id)">
                                                    <mat-icon style="color: rgb(0, 145, 234);">edit</mat-icon>
                                                </button>
                                            </a>                                            
                                        </mat-cell>
                                    </ng-container>



                                    <mat-header-row *matHeaderRowDef="assetStatusDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: assetStatusDisplayedColumns">
                                    </mat-row>
                                </mat-table>
                                <mat-paginator [pageSizeOptions]="[30, 60, 100, 150, 200, 250]"></mat-paginator>
                            </div>
                        </div>
                        <br>
                      <div mat-dialog-actions class="pt-24 text-right">                        
                            <button class="mat-accent mr-16" mat-button (click)="dialogRef.close(false)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>