<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Failures Graphs</li>
                    </ol>
                </nav>
            </div>
            <div class="clear"> </div>
            <div class="row-fluid" >
            	<div class="panel panel-primary">
            		<div class="panel-heading">Charts</div>
            			<div class="panel-body">
            				<div class="col-12">
            					<div class="col-md-6 col-lg-6">
              						<div class="panel panel-primary">
                						<div class="panel-heading">Day Wise</div>
                							<div class="panel-body">
				            					<div class="col-md-6 col-lg-6" *ngIf="showCBTrippingChart">
				            						<fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" 
							                      [dataSource]="CBTrippingDataSource"></fusioncharts>
				            					</div>
            								</div>
            						</div>
            					</div>	
            				</div>
            			</div>
            	</div>
            </div>
         </div>
     </div>
</div>        