.mat-column-sno {
    flex: 0 0 80px;
  }
  .mat-column-driveId {
    flex: 0 0 500px;
  }
  
  .mat-column-assetType {
    flex: 0 0 200px;
  }
  .mat-column-unitType {
    flex: 0 0 100px;
  }
  .mat-column-unitName {
    flex: 0 0 120px;
  }
  .mat-column-target {
    flex: 0 0 100px;
  }
  .mat-column-poulation {
    flex: 0 0 100px;
  }