<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb-section">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/product']">Product</a></li>
                    </ol>
                </nav>
            </div>
            
            <div class="clear"> </div>
            <div class="row-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">Product Information</div>
                    <div class="panel-body">
                        <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                            <div class="p-24" style="text-align: right">
                                <button class="mat-raised-button mat-accent" color="accent" mat-raised-button=""
                                    [routerLink]="['add-product']"> 
                                    Add Product
                                </button></div>

                            <div class="p-24">

                                <div class="example-header">
                                    <div class="col-sm-4">
                                        <mat-form-field>
                                            <input matInput (keyup)="applyFilter($event.target.value)"
                                                placeholder="Filter">
                                        </mat-form-field>
                                    </div>
                                    <div class="clear"> </div>
                                </div>


                                <div class="example-container mat-elevation-z8">

                                    <mat-table [dataSource]="filterData.dataSource" matSort>

                                        <ng-container matColumnDef="sno">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>Sl No</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[0].Value" [filter]="filterData">
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.sno}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="productId">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>Product Id</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[1].Value" [filter]="filterData">
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.productId}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="rlyId">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>Rly Id</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[2].Value" [filter]="filterData">
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.rlyId}}</mat-cell>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="plNo">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>Pl No</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[3].Value" [filter]="filterData">
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.plNo}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="description">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>Description</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[4].Value" [filter]="filterData">
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="quantityUomId">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>Quanity Uom Id</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[5].Value" [filter]="filterData">
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.quantityUomId}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="materialClassification">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>Material Classi</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[6].Value" [filter]="filterData">
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.materialClassification}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="productTypeId">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>Product Type Id</span>
                                                <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[7].Value" [filter]="filterData">
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.productTypeId}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="primaryProductCategoryId">
                                            <ng-container matColumnDef="productTypeId">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    <span>Primary Product</span>
                                                    <input matInput type="text" (keyup) ="updatePagination()" [(ngModel)]="filterData.filterColumnNames[8].Value" [filter]="filterData">
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row"> {{row.primaryProductCategoryId}}</mat-cell>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container matColumnDef="actions">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                <span>Actions</span>
                                                <input matInput type="text" disabled (keyup) ="updatePagination()" />
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <button mat-icon-button matTooltip="View"
                                                       (click)="ViewData(row)">
                                                    <mat-icon style="color: rgb(0, 145, 234);">preview</mat-icon>
                                                </button>
                                                <a mat-icon-button matTooltip="Edit" >
                                                    <button mat-icon-button matTooltip="Edit"
                                                        (click)="processEditAction(row.id)">
                                                        <mat-icon style="color: rgb(0, 145, 234);">edit</mat-icon>
                                                    </button>
                                                </a>
                                                
                                                <button mat-icon-button matTooltip="Delete"
                                                    (click)="delete(row.id)">
                                                    <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                                                </button>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                                        </mat-row>
                                    </mat-table>
                                   
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
 </div>           