.mat-column-sno {
    flex: 0 0 100px;
  }
  .mat-column-name {
    flex: 0 0 280px;
  }
  .mat-column-description {
    flex: 0 0 290px;
  }
  .mat-column-assetType {
    flex: 0 0 100px;
  }
  .mat-column-fromDate {
    flex: 0 0 100px;
  }
  .mat-column-toDate {
    flex: 0 0 100px;
  }
  .mat-column-functionalUnit {
    flex: 0 0 100px;
  }
  .mat-column-frequency {
    flex: 0 0 100px;
  }
  .mat-column-depoType {
    flex: 0 0 100px;
  }
  .mat-column-active {
    flex: 0 0 100px;
  }
  .mat-column-actions {
    flex: 0 0 150px;
  }