<div class="row">
    <div class="col-12">
        <div class="row-fluid">
            <div class="close-box">
                <div mat-dialog-actions class="pt-24 ">
                    <button class="mat-accent mr-16" mat-button (click)="dialogRef.close(false)"><i
                            class="material-icons">
                            close
                        </i>
                    </button>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">{{title}} </div>
                <div class="panel-body">
                    <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
                        <div class="p-24">
                            <div class="example-container mat-elevation-z8">
                                <div *ngFor="let item of dataSource" class="col-md-4" style="height: 30px;">
                                    <span><b>{{item.label}}:</b>{{item.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>